h1 {
  font-size: 1.5em; /* 18px */
  line-height: 1.33em; /* 24px */
  margin: 0.89em 0; /* 16px 0 */
}

h2 {
  font-size: 1.25em; /* 15px */
  line-height: 1.4em; /* 21px  */
  margin: 1.07em 0; /* 16px 0 */
}

h3 {
  font-size: 1em; /* 12px */
  margin: 1.33em 0; /* 16px 0 */
}

h4, h5, h6 {
  font-size: .75em; /* 9px */
  line-height: 2em; /* 18px */
  margin: 1.56em 0; /* 14px 0 */
}

h4 { text-transform: uppercase; }

code { font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */ }
pre { font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */ }

ul {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}

ul ul {
  margin: 0;
  padding: 0 0 0 1.25em;
}

ol {
  margin: 1em;
  padding: 0 2em;
}

ol ol {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}
