.en_US .icon_new_topic img { background-image: url(../images/en_US/post.gif); width: 82px; height: 25px; }
.en_US .icon_reply img { background-image: url(../images/en_US/reply.gif); width: 82px; height: 25px; }
.en_US .icon_reply_locked img { background-image: url(../images/en_US/reply_locked.gif); width: 82px; height: 25px; }
.en_US .icon_quote img { background-image: url(../images/en_US/icon_quote.gif); width: 59px; height: 18px; }
.en_US .icon_edit img { background-image: url(../images/en_US/icon_edit.gif); width: 59px; height: 18px; }
.en_US .icon_profile img { background-image: url(../images/en_US/icon_profile.gif); width: 59px; height: 18px; }
.en_US .icon_pm img { background-image: url(../images/en_US/icon_pm.gif); width: 59px; height: 18px; }