.zh_TW .icon_new_topic img { background-image: url(../images/zh_TW/post.gif); width: 82px; height: 25px; }
.zh_TW .icon_reply img { background-image: url(../images/zh_TW/reply.gif); width: 82px; height: 25px; }
.zh_TW .icon_reply_locked img { background-image: url(../images/zh_TW/reply_locked.gif); width: 82px; height: 25px; }
.zh_TW .icon_quote img { background-image: url(../images/zh_TW/icon_quote.gif); width: 59px; height: 18px; }
.zh_TW .icon_edit img { background-image: url(../images/zh_TW/icon_edit.gif); width: 59px; height: 18px; }
.zh_TW .icon_profile img { background-image: url(../images/zh_TW/icon_profile.gif); width: 59px; height: 18px; }
.zh_TW .icon_pm img { background-image: url(../images/zh_TW/icon_pm.gif); width: 59px; height: 18px; }