</td>
</tr>
	<tr>
		<td align="center">
			<#if session?exists && session.isAdmin()><span class="gen"><a id="adminpanel" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></span></#if>
		</td>
	</tr>

	<tr>
		<td align="center">
			<span class="copyright">Powered by <a class="copyright" href="http://www.jforum.net/" target="_blank">JForum ${version}</a> &copy; <a class="copyright" href="http://www.jforum.net/team.jsp" target="_blank">JForum Team</a></span>
		</td>
	</tr>
</table>
<!-- SyntaxHighlighter 1.5.1 -->
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shCore.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushJava.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushCpp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushCSharp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushDelphi.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushJScript.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushPhp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushPython.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushRuby.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushSql.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushVb.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushXml.js"></script>
<script type="text/javascript">
<!--
dp.SyntaxHighlighter.ClipboardSwf = '${contextPath}/templates/${templateName}/js/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
-->
</script>
<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no"></iframe>
</body>
</html>