<#import "../macros/pagination.ftl" as pagination>
<#import "../macros/presentation.ftl" as presentation/>

<link rel="alternate" type="application/rss+xml" title="RSS" href="${JForumContext.encodeURL("/rss/forumTopics/${forum.id}")}" />

<script language="JavaScript" type="text/JavaScript">
<#include "moderation.js"/>
<#include "utils.js"/>
</script>

<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline" valign="top">
			<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<td valign="bottom" align="left" colspan="2">
						<a class="maintitle" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name}</a>
						<#if rssEnabled>
							<a href="${JForumContext.encodeURL("/rss/forumTopics/${forum.id}")}"><img src="${contextPath}/templates/${templateName}/images/xml_button.gif" border="0"></a>
							<br />
						</#if>
						<span class="gensmall"><!-- forum moderators --> </span>
					</td>

					<td valign="center" nowrap="nowrap" align="right"><@pagination.doPagination action, forum.id/></td>
				</tr>

				<#if moderator>
					<form action="${JForumContext.encodeURL("/jforum")}" method="post" name="form1" id="form1" accept-charset="${encoding}">
					<input type="hidden" name="action" value="doModeration" />
					<input type="hidden" name="module" value="${moduleName}" />
					<input type="hidden" name="securityHash" value="${securityHash}" />
					<input type="hidden" name="persistData" value="${forum.id}" />
				</#if>

				<tr>
					<#if !readonly || !replyOnly>
						<td valign="center" align="left" width="50">
							<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&action=insert&forum_id=${forum.id}", "")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/post.gif" border="0" /></a>
						</td>
					<#else>
						<#assign colspan = "2"/>
					</#if>

					<td class="nav" valign="center" align="left" width="100%" colspan="${colspan?default("")}">
						<span class="nav">&nbsp;&nbsp;&nbsp;<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> -&gt; <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name}</a></span>
					</td>

					<td class="nav" valign="bottom" nowrap="nowrap" align="right">
		  				<span class="gensmall">
						<a href="${JForumContext.encodeURL("/forums/readAll/${forum.id}")}">${I18n.getMessage("ForumIndex.setAllTopicsAsRead")}</a>
						<#if moderator>
							<br />
							
							<#if openModeration?default(false)>
								<#assign link = ""/>
								<#if (start > 0)>
									<#assign link = JForumContext.encodeURL("/forums/show/" + start + "/" + forum.id)/>
								<#else>
									<#assign link = JForumContext.encodeURL("/forums/show/" + forum.id)/>
								</#if>
								<a href="${link}">${I18n.getMessage("Moderation.CloseModeration")}</a>
							<#else>
								<a href="${contextPath}/forums/moderation/<#if (start > 0)>${start}/</#if>${forum.id}${extension}">${I18n.getMessage("Moderation.OpenModeration")}</a>
							</#if>
						</#if>
						</span>
					</td>
				</tr>
			</table>

			<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
				<tr>
					<th class="thCornerL" nowrap="nowrap" align="middle" colspan="2" height="25">&nbsp;${I18n.getMessage("ForumIndex.topics")}&nbsp;</th>
					<th class="thTop" nowrap="nowrap" align="middle" width="50">&nbsp;${I18n.getMessage("ForumIndex.answers")}&nbsp;</th>
					<th class="thTop" nowrap="nowrap" align="middle" width="100">&nbsp;${I18n.getMessage("ForumIndex.author")}&nbsp;</th>
					<th class="thTop" nowrap="nowrap" align="middle" width="50">&nbsp;${I18n.getMessage("ForumIndex.views")}&nbsp;</th>
					<th class="thCornerR" nowrap="nowrap" align="middle">&nbsp;${I18n.getMessage("ForumIndex.lastMessage")}&nbsp;</th>

					<#if moderator && openModeration?default(false)>
						<th class="thCornerR" nowrap="nowrap" align="middle">&nbsp;Moderation&nbsp;</th>
					</#if>
				</tr>

				<!-- TOPICS LISTING -->
				<#list topics as topic>
				<tr>
					<td class="<@presentation.row1Class topic/>" valign="center" align="middle" width="20"><@presentation.folderImage topic/></td>
					<td class="<@presentation.row1Class topic/>" width="100%">
						<#if topic.hasAttach() && attachmentsEnabled><img src="${contextPath}/templates/${templateName}/images/icon_clip.gif" align="middle"></#if>
						<span class="topictitle">
						<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}"><#if (topic.title?length == 0)>No Subject<#else>${topic.title?html}</#if></a>
						</span>

						<#if topic.paginate>
							<span class="gensmall">
							<br />
							<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>				
							</span>
						</#if>		
					</td>

					<td class="<@presentation.row2Class topic/>" valign="center" align="middle"><span class="postdetails">${topic.totalReplies}</span></td>
					<td class="<@presentation.row3Class topic/>" valign="center" align="middle">
						<span class="name"><a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username}</a></span>
					</td>

					<td class="<@presentation.row2Class topic/>" valign="center" align="middle"><span class="postdetails">${topic.totalViews}</span></td>
					<td class="<@presentation.row3Class topic/>" valign="center" nowrap="nowrap" align="middle">
						<#if (topic.lastPostTime?length > 0)>
							<span class="postdetails">${topic.lastPostTime}<br />
							<a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username}</a>

							<#assign startPage = ""/>
							<#if (topic.totalReplies + 1 > postsPerPage?number)>
								<#assign startPage = ((topic.totalReplies / postsPerPage?number)?int * postsPerPage?number) +"/"/>
							</#if>
				  
							<a href="${JForumContext.encodeURL("/posts/list/${startPage}${topic.id}")}#${topic.lastPostId}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" width="18" height="9" border="0" /></a></span>
						</#if>		 
					</td>

					<#if moderator && openModeration?default(false)>
						<td class="<@presentation.row2Class topic/>" valign="middle" align="center"><input type="checkbox" name="topic_id" value="${topic.id}" /></td>
					</#if>
				</tr>
				</#list>		
				<!-- END OF TOPICS LISTING -->
				
				<tr>
					<td class="catBottom" valign="center" align="right" colspan="<#if moderator && openModeration?default(false)>7<#else>6</#if>" height="28">
						&nbsp;<@presentation.moderationButtons/>
					</td>
				</tr>
			</table>

			<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<#if !readonly || !replyOnly>
						<td valign="center" align="left" width="50">
							<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=insert&amp;forum_id=${forum.id}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/post.gif" border="0" /></a>
						</td>
					<#else>
						<#assign colspan = "2"/>
					</#if>

					<td valign="center" align="left" width="100%" colspan="${colspan?default("0")}">
						<span class="nav">&nbsp;&nbsp;&nbsp;
						<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> -&gt;  <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name}</a></span>
					</td>

					<#if moderator></form></#if>

					<td valign="center" nowrap="nowrap" align="right"><@pagination.doPagination action, forum.id/></td>
				</tr>

				<tr>
					<td align="left" colspan="3"><span class="nav"></span></td>
				</tr>
			</table>

			<@presentation.forumsComboTable/>

			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
				<tr>
					<td valign="top" align="left">
						<table cellspacing="3" cellpadding="0" border="0">
							<tr>
								<td align="left" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_new.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.newMessages")}</td>
								<td>&nbsp;&nbsp;</td>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessages")}</td>
								<td>&nbsp;&nbsp;</td>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_announce.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.announce")}</td>
							</tr>
							
							<tr>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_new_hot.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.newMessagesHot")}</td>
								<td>&nbsp;&nbsp;</td>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_hot.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessagesHot")}</td>
								<td>&nbsp;&nbsp;</td>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_sticky.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.sticky")}</td>
							</tr>

							<tr>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_lock_new.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.newMessagesBlocked")}</td>
								<td>&nbsp;&nbsp;</td>
								<td align="middle" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_lock.gif" width="19" height="18" /></td>
								<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessagesBlocked")}</td>
								<td>&nbsp;&nbsp;</td>
								<td colspan="2"></td>
							</t>
						</table>
					</td>
					<td align="right"><span class="gensmall"></span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>