<#setting number_format = "#"/>
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>${pageTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="${metaDescription}" />
<meta name="keywords" content="${metaKeywords}, jforum, jforum java, java jforum, java forum, forum, rafael steil, bulletin board, java bb, javabb" />
<base href="${homeLink}" />
<style type="text/css">@import url( templates/${templateName}/style.css );</style>
</head>

<body>
<table width="100%" border="0">
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%" border="0">
				<tr>
					<td>
						<a href="${homeLink}"><img src="templates/${templateName}/images/logo.jpg" width="180" height="129" vspace="1" border="0"></a>
					</td>
					 
					<td width="100%" align="center" valign="center">
						<span class="maintitle">${I18n.getMessage("ForumName")}</span> - <span class=gen>${I18n.getMessage("ForumTitle")}<br />&nbsp; </span>
						<table cellspacing="0" cellpadding="2" border="0">
							<tr>
								<td vAlign="top" nowrap="nowrap" align="middle">&nbsp;
									<img src="templates/${templateName}/images/icon_mini_search.gif" width="12" height="13" />
									<span class="mainmenu">&nbsp; <a class="mainmenu" href="${contextPath}/search/filters.page"><b>${I18n.getMessage("ForumBase.search")}</b></a> &nbsp;
			
									<#if logged?default(false)>
									<a class="mainmenu" href="${contextPath}/user/edit/${session.userId}.page"><img src="templates/${templateName}/images/icon_mini_profile.gif" width="12" height="13" border="0" /> ${I18n.getMessage("ForumBase.profile")}</a>&nbsp; </span>
									</#if>
			
									<span class="mainmenu"> <img src="templates/${templateName}/images/icon_mini_groups.gif" width="12" height="13" />&nbsp;<a class="mainmenu" href="${homeLink}">${I18n.getMessage("ForumBase.backToSite")}</a>&nbsp;
							
									<#if logged?default(false)>
									<a class="mainmenu" href="${contextPath}/user/logout.page"><img src="templates/${templateName}/images/icon_mini_login.gif" width="12" height="13" border="0" /> ${I18n.getMessage("ForumBase.logout")} [${session.username}] </a></span></td>
									<#else>
									<a class="mainmenu" href="${contextPath}/user/insert.page"><img src="templates/${templateName}/images/icon_mini_register.gif" width="12" height="13" border="0" /> ${I18n.getMessage("ForumBase.register")}</a>&nbsp/&nbsp;</span>
									<a class="mainmenu" href="${contextPath}/user/login.page"><img src="templates/${templateName}/images/icon_mini_login.gif" width="12" height="13" border="0" /> ${I18n.getMessage("ForumBase.login")}</a>&nbsp; </span>
									</#if>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><#include moduleAction/></td>
	</tr>
	
	<tr>
		<td align='center'>
			<#if session.isAdmin()><span class="gen"><a href='${contextPath}/admBase/login.page'>Admin Control Panel</a></span></#if>
		</td>
	</tr>

	<tr>
		<td align="center">
			<span class="copyright">Powered by <a class="copyright" href="http://www.jforum.net/" target="_blank">JForum ${version} </a>© 2004 - Rafael Steil</span>
			<br/>
			<a href="http://sourceforge.net" target="_new"><img src="https://sourceforge.net/sflogo.php?group_id=15940&type=1" border="0" /></a>
		</td>
	</tr>
</table>
</body>
</html>
