<table width="100%" align="center">
<tr>
<td width="100%" height="318" valign="top">
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
        <TR>
          <TD vAlign=bottom align=left>
		  <#if logged><span class="gensmall">${I18n.getMessage("ForumListing.lastVisit")}: ${lastVisit}</span><br/></#if>
		  <SPAN class=gensmall>${I18n.getMessage("ForumListing.date")}: ${now}</SPAN><BR>
		  <SPAN class=forumLink><a class="forumLink" href="${contextPath}">${I18n.getMessage("ForumListing.forumIndex")}</a></SPAN>
		  </TD>
          <TD class=gensmall vAlign=middle align=right>&nbsp;
			<#if logged>
		  	<A class=gensmall href="${contextPath}/forums/newMessages${extension}">${I18n.getMessage("ForumListing.readLastVisitMessages")}</A>
			</#if>
		</TD>
        </TR>
		</TABLE>
		
      <TABLE class=forumline cellSpacing=1 cellPadding=2 width="100%" border=0>
        <TR>
          <TH class=thCornerL noWrap colSpan=2 height=25>&nbsp;${I18n.getMessage("ForumListing.forums")}&nbsp;</TH>
          <TH class=thTop noWrap width=50>&nbsp;${I18n.getMessage("ForumListing.totalTopics")}&nbsp;</TH>
          <TH class=thTop noWrap width=50>&nbsp;${I18n.getMessage("ForumListing.totalMessages")}&nbsp;</TH>
          <TH class=thCornerR noWrap>&nbsp;${I18n.getMessage("ForumListing.lastMessage")}&nbsp;</TH></TR>
		  
		  <!-- START FORUM LISTING -->
<#list allForums.keySet() as category>
	<TR>
	  <TD class=catLeft colSpan=2 height=28><SPAN class=cattitle>${category.name}</SPAN>
	  </TD>
	  <TD class=rowpic align=right colSpan=3>&nbsp;</TD>
	 </TR>
	 <#list allForums.get(category) as forum>
	 	<#assign lpi = fir.getLastPostInfo(forum.id)>
		<TR>
		<TD class=row1 vAlign=center align=middle height=50>
			<#if forum.unread>
				<img src="${contextPath}/templates/${templateName}/images/folder_new_big.gif" width="46" height="25">
			<#else>
				<img src="${contextPath}/templates/${templateName}/images/folder_big.gif" width="46" height="25">
			</#if>
		</TD>
		<TD class=row1 width="100%" height=50><SPAN class=forumlink><A class=forumlink href="${contextPath}/forums/show/${forum.id}${extension}">${forum.name}</A><BR>
		</SPAN><SPAN class=genmed>${forum.description}<BR></SPAN>
		</TD>
		<TD class=row2 vAlign=center align=middle height=50><SPAN class=gensmall>${forum.totalTopics}</SPAN></TD>
		<TD class=row2 vAlign=center align=middle height=50><SPAN class=gensmall><#if (forum.totalPosts > 0)>${forum.totalPosts}<#else>${I18n.getMessage("ForumListing.noMessages")}</#if></SPAN></TD>
		<TD class=row2 vAlign=center noWrap align=middle height=50>
		<SPAN class=gensmall>
			<#if lpi["postTime"]?exists>${lpi["postTime"]}<BR>
				<#if lpi["userId"]?exists><A href="${contextPath}/user/profile/${lpi["userId"]}${extension}"></#if>
				<#if lpi["userName"]?exists>${lpi["userName"]}</#if></A> 
				
				<#assign startPage = ""/>
				<#if (lpi["topic_replies"] + 1 > topicsPerPage)>
					<#assign startPage = ((lpi["topic_replies"] / topicsPerPage)?int * topicsPerPage) +"/"/>
				</#if>
				
				<a href="${contextPath}/posts/list/${startPage}${lpi["topicId"]}${extension}#${lpi["postId"]}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" width="18" height="9" border="0"></a>
			<#else>
				${I18n.getMessage("ForumListing.noMessages")}
			</#if>
		</SPAN>
		</TD>
		</TR>
	</#list>
</#list>		
		<!-- END OF FORUM LISTING -->
		
		</TABLE>
		
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
        <TR>
          <TD align=left><SPAN class=gensmall><A class=gensmall href="">&nbsp;</A></SPAN><SPAN class=gensmall>&nbsp;</SPAN></TD>
        </TR>
		</TABLE>
		
      <TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" 
        border=0><TBODY>
        <TR>
          <TD class=catHead colSpan=2 height=28><SPAN class=cattitle>${I18n.getMessage("ForumListing.whoIsOnline")}</SPAN></TD>
        </TR>
        <TR>
          <TD class=row1 vAlign=center align=middle rowSpan=2><img src="${contextPath}/templates/${templateName}/images/whosonline.gif" width="46" height="25"></TD>
          <TD class=row1 align=left width="100%"><SPAN class=gensmall>${totalMessages}<BR>
           ${totalUsers}<BR>
		   <a href="${contextPath}/user/profile/${lastUserId}${extension}">${I18n.getMessage("ForumListing.newestUser")} ${lastUserName}</a></SPAN></TD>
        </TR>
        <TR>
          <TD class=row1 align=left>
			<#assign adminColor = "style=\"color:#FFA34F\""/>
			<#assign moderatorColor = "style=\"color:#006600\""/>
			<#assign color = ""/>

		  	<SPAN class=gensmall>${usersOnline}&nbsp;&nbsp;
			
			[ <span ${adminColor}>${I18n.getMessage("Administrator")}</span> ]&nbsp;[ <span ${moderatorColor}>${I18n.getMessage("Moderator")}</span> ]
			
			<br>${I18n.getMessage("ForumListing.connectedUsers")}: 
			
			
			<#list userSessions as us>
				<#if us.isAdmin()>
					<#assign color = adminColor/>
				<#elseif us.isModerator()>
					<#assign color = moderatorColor/>
				<#else>
					<#assign color = ""/>
				</#if>

				<a href="${contextPath}/user/profile/${us.userId}${extension}" ${color}>${us.username}</a>&nbsp;
			</#list>
			</span>
		  </TD>
        </TR></TBODY></TABLE>
        
        <#if !logged>
			<form accept-charset="${encoding}" action="${contextPath}/jforum${extension}" method="POST">
			<input type="hidden" name="module" value="user">
			<input type="hidden" name="action" value="validateLogin">
			<input type="hidden" name="securityHash" value="${securityHash}">
	      	<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
	      	<TBODY>
	        <TR>
	          <TD class=catHead height=28><A name=login></A><SPAN class=cattitle>${I18n.getMessage("Login.enter")}</SPAN></TD>
	        </TR>
	        <TR>
	          <TD class=row1 vAlign=center align=middle height=28>
	          	<SPAN class=gensmall>
	          	${I18n.getMessage("Login.user")}: <INPUT class=post size=10 name=username> 
	            &nbsp;&nbsp;&nbsp;
	            ${I18n.getMessage("Login.password")}: <INPUT class=post type=password size=10 name=password> &nbsp;&nbsp; &nbsp;&nbsp;
	            ${I18n.getMessage("Login.autoLogon")} <INPUT class=text type=checkbox name=autologin> 
	            &nbsp;&nbsp;&nbsp; 
	            <INPUT class=mainoption type=submit value="${I18n.getMessage("Login.enter")}" name=login> 
	          	</SPAN>
	          </TD>
	        </TR>
	        </TBODY>
	      </TABLE>
	      </FORM>
	    </#if>
      
      
      <TABLE cellSpacing=3 cellPadding=0 align=center border=0>
        <TBODY>
        <TR>
          <TD align=middle width=20><img src="${contextPath}/templates/${templateName}/images/folder_new.gif" width="19" height="18"></TD>
          <TD><SPAN class=gensmall>${I18n.getMessage("ForumListing.newMessages")}</SPAN></TD>
          <TD>&nbsp;&nbsp;</TD>
          <TD align=middle width=20><img src="${contextPath}/templates/${templateName}/images/folder.gif" width="19" height="18"></TD>
          <TD><SPAN class=gensmall>${I18n.getMessage("ForumListing.noNewMessages")}</SPAN></TD>
          <TD>&nbsp;&nbsp;</TD>
          <TD align=middle width=20><img src="${contextPath}/templates/${templateName}/images/folder_lock.gif" width="19" height="18"></TD>
          <TD><SPAN class=gensmall>${I18n.getMessage("ForumListing.blocked")}</SPAN></TD></TR></TBODY></TABLE>
</td>
</tr>
</table>
