<form action="search.php?mode=searchuser" method="post" name="search" id="search">
	<table cellspacing="0" cellpadding="10" width="100%" border="0">
		<tbody>
			<tr>
				<td>
					<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
						<tbody>
							<tr>
								<th class="thHead" height="25">Encontrar um usuário</th>
							</tr>
							<tr>
								<td class="row1" valign="top">
									<span class="genmed"><br />
									<input class="post" name="search_username" />&nbsp; 
									<input class="liteoption" type="submit" value="Pesquisar" name="search" />
          							</span><br />
									<span class="gensmall">Pode usar asteriscos * para obter palavras por  aproximação</span><br />
									<br />
									<span class="genmed"><a class="genmed" href="javascript:window.close();">Fechar a janela</a></span>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
