<STYLE type=text/css>@import url( style.css );</STYLE>
<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tbody>
		<tr>
			<td class="bodyline">
				<script language="JavaScript" type="text/javascript">
				//
				// Should really check the browser to stop this whining ...
				//
				function select_switch(status) 
				{
					for (i = 0; i < document.privmsg_list.length; i++) {
						document.privmsg_list.elements[i].checked = status;
					}
				}
				</script>

				<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
					<tbody>
						<tr>
							<td valign="top" align="middle" width="100%">
								<table height="40" cellspacing="2" cellpadding="2" border="0">
									<tbody>
										<tr valign="center">
											<td>
												<#if !inbox?default(false)>
												<a href="${contextPath}/pm/inbox.page">
												</#if>
												<img src="${contextPath}/templates/${templateName}/images/msg_inbox.gif" border="0" />
												<#if !inbox?default(false)>
												</a>
												</#if>
											</td>
											<td>
												<#if !inbox?default(false)>
												<a href="${contextPath}/pm/inbox.page">
												</#if>
												<span class="cattitle">${I18n.getMessage("PrivateMessage.inbox")} &nbsp;</span>
												<#if !inbox?default(false)>
												</a>
												</#if>
											</td>
											<td>
												<#if !sentbox?default(false)>
												<a href="${contextPath}/pm/sentbox.page">
												</#if>
												<img src="${contextPath}/templates/${templateName}/images/msg_sentbox.gif" border="0" />
												<#if !sentbox?default(false)>
												</a>
												</#if>
											</td>
											<td>
												<#if !sentbox?default(false)>
												<a href="${contextPath}/pm/sentbox.page">
												</#if>
												<span class="cattitle">${I18n.getMessage("PrivateMessage.sentbox")}</a> &nbsp;</span>
												<#if !sentbox?default(false)>
												</a>
												</#if>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<br clear="all" />
				<form action="${contextPath}/jforum.page" method="post" name="privmsg_list" id="privmsg_list">
				<input type="hidden" name="module" value="${moduleName}">
				<input type="hidden" name="action" value="delete">
					<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
						<tbody>
							<tr>
								<td valign="center" align="left">
									<a href="${contextPath}/pm/send.page"><img src="${contextPath}/templates/${templateName}/images/msg_newpost.gif" border="0" /></a>
								</td>
								<td align="left" width="100%">
									&nbsp;<span class="nav">
									 <A class=nav href="${contextPath}/forums/list.page">${I18n.getMessage("ForumListing.forumIndex")}</a>
									 </span>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
						<tbody>
							<tr>
								<th class="thCornerL" nowrap="nowrap" width="5%" height="25">
									&nbsp;&nbsp;
								</th>
								<th class="thTop" nowrap="nowrap" width="55%">
									&nbsp;${I18n.getMessage("PrivateMessage.subject")}&nbsp;
								</th>
								<th class="thTop" nowrap="nowrap" width="20%">
									<#if inbox?default(false)>
									&nbsp;${I18n.getMessage("PrivateMessage.from")}&nbsp;
									<#else>
									&nbsp;${I18n.getMessage("PrivateMessage.to")}&nbsp;
									</#if>
								</th>
								<th class="thTop" nowrap="nowrap" width="15%">
									&nbsp;${I18n.getMessage("PrivateMessage.date")}&nbsp;
								</th>
								<th class="thCornerR" nowrap="nowrap" width="5%">
									&nbsp;&nbsp;
								</th>
							</tr>
							<#list pmList as pm>
							<tr>
								<td class="row1" valign="center" align="middle" width="5%">
									<#if pm.type == NEW>
										<img height="18" src="templates/${templateName}/images/folder_new.gif" width="19" />
									<#else>
										<img height="18" src="templates/${templateName}/images/folder.gif" width="19" />
									</#if>
								</td>
								<td class="row1" valign="center" width="55%"><span class="topictitle">&nbsp;<a class="topictitle" href="${contextPath}/pm/read/${pm.id}.page">${pm.post.subject}</a></span></td>
								<td class="row1" valign="center" align="middle" width="20%">
									<#if inbox?default(false)>
									<span class="name">&nbsp;<a class="name" href="${contextPath}/user/profile/${pm.fromUser.id}.page">${pm.fromUser.username}</a></span>
									<#else>
									<span class="name">&nbsp;<a class="name" href="${contextPath}/user/profile/${pm.toUser.id}.page">${pm.toUser.username}</a></span>
									</#if>
								</td>
								<td class="row1" valign="center" align="middle" width="15%"><span class="postdetails">${pm.formatedDate}</span></td>
								<td class="row1" valign="center" align="middle" width="5%"><span class="postdetails"><input type="checkbox" value="${pm.id}" name="id" /></span></td>
							</tr>
							</#list>
							<tr>
								<td class="catBottom" align="right" colspan="5" height="28">
									&nbsp; <input class="liteoption" type="submit" value="${I18n.getMessage("PrivateMessage.deleteSelected")}" name="delete" />
									<!--
									&nbsp; <input class="liteoption" type="submit" value="${I18n.getMessage("PrivateMessage.deleteAll")}" name="deleteall" />
									-->
								</td></tr>
						</tbody>
					</table>
					<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
						<tbody>
							<tr>
								<td valign="center" align="left"><span class="nav">
									<a href="${contextPath}/pm/send.page"><img src="${contextPath}/templates/${templateName}/images/msg_newpost.gif" border="0" /></a></span>
								</td>
								<td valign="center" align="left" width="100%"><span class="nav"></span></td>
								<td valign="top" nowrap="nowrap" align="right">
									<b><span class="gensmall"><a class="gensmall" href="javascript:select_switch(true);">${I18n.getMessage("PrivateMessage.checkAll")}</a> :: 
									<a class="gensmall" href="javascript:select_switch(false);">${I18n.getMessage("PrivateMessage.uncheckAll")}</a></span></b>
									<br />
									<span class="nav">
										<br />
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<div align="center"></div>
			</td>
		</tr>
	</tbody>
</table>
