<div class="postInfo">
	<div class="date">
		<#assign startStr = ""/>
		<#if (start > 0)><#assign startStr = "${start}/"/></#if>
		<a href="${JForumContext.encodeURL("/posts/list/${startStr}${post.topicId}")}#${post.id}">
		<img src="${contextPath}/templates/${templateName}/images/icon_minipost_new.gif" /></a>${post.formatedTime}
	</div>
	<div class="subject">&nbsp;&nbsp; &nbsp;<b>${I18n.getMessage("PostShow.subject")}:</b> <a name="${post.id}" id="${post.id}">${post.subject?default("")?html}</a></div>
	<div class="action">
		<#if karmaEnabled>
			<script language="javascript">writeStars(${post.karma.karmaPoints}, ${post.id});</script>
		</#if>

		<#if topic.status != STATUS_LOCKED>
			<a href="${JForumContext.encodeURL("/posts/quote/${start}/${topic.id}")}" rel="nofollow" class="icon_quote"><img src="${contextPath}/images/transp.gif"/></a>
		</#if>

		<#if ((post.canEdit && topic.status != STATUS_LOCKED) || canEdit)>
			<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=edit&amp;post_id=${post.id}&start=${start}","")}" rel="nofollow" class="icon_edit"><img src="${contextPath}/images/transp.gif"/></a>  
		</#if>

		<#if canRemove>
			<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=delete&amp;post_id=${post.id}&start=${start}","")}" onClick="return confirmDelete();"><img src="${contextPath}/templates/${templateName}/images/icon_delete.gif"/></a>  
		</#if>

		<a class="nav" href="#top"><img src="${contextPath}/templates/${templateName}/images/icon_up.gif"/></a>
	</div>
</div>