<span class="name"><b>${user.username}</b></span>
<br />
<#if karmaEnabled && post.userId != 1>
	<script language="javascript">writeStars(${user.karma.karmaPoints}, "${user.id}${post.id}");</script>
	<br/>
</#if>

<span class="postdetails">
<#if post.userId != 1>
	${rank.getRankTitle(user.totalPosts)}
	<br />
</#if>

<#if (user.avatar?exists && user.avatar?length > 0)>
	<#if user.isExternalAvatar() || user.avatar.startsWith("http://")>
		<img src="${user.avatar}" border="0">
	<#else>
		<img src="${contextPath}/images/avatar/${user.avatar}" border="0" /><br />
	</#if>
</#if>
<br /> 

<#if post.userId != 1>
	${I18n.getMessage("PostShow.userRegistrationDate")}: ${user.registrationDate}<br />
	${I18n.getMessage("PostShow.userTotalMessages")}: ${user.totalPosts}
</#if>
<br />

<#if (user.from?exists && user.from?length > 0)>
	${I18n.getMessage("PostShow.userFrom")}: ${user.from}
	<br />
</#if>

<#if post.userIp?exists && isModerator>
	${I18n.getMessage("PostShow.userIP")}: ${post.userIp}
	<br />
</#if>

<#if post.userId != 1>
	<#if user.isOnline()>
		<span class="online">${I18n.getMessage("PostShow.userOnline")}</span>
	<#else>
		<span class="offline">${I18n.getMessage("PostShow.userOffline")} </span>
	</#if>
</#if>
</span>
<br />