<#include "header.htm"/>
<#if !preview?exists>
	<#assign preview = false/>
</#if>

<script type='text/javascript' src='${contextPath}/dwr/dwr.page?script=AjaxUtils'></script>
<script type='text/javascript' src='${contextPath}/templates/${templateName}/js/dwr-engine.js'></script>
<script type='text/javascript' src='${contextPath}/templates/${templateName}/js/dwr-util.js'></script>
<script type="text/javascript" src="${JForumContext.encodeURL("/js/list/post")}"></script>

<script type="text/javascript">
function validatePostForm(f)
{
	<#if setType?default(true)>
	if (f.subject.value == "") {
		alert("${I18n.getMessage("PostForm.subjectEmpty")}");
		f.subject.focus();
		
		return false;
	}
	</#if>
	
	if (f.message.value.replace(/^\s*|\s*$/g, "").length == 0) {
		alert("${I18n.getMessage("PostForm.textEmpty")}");
		f.message.focus();
		
		return false;
	}

	<#if !forum?exists>
	if (f.toUsername.value == "") {
		alert("${I18n.getMessage("PrivateMessage.toUserIsEmpy")}");
		f.toUsername.focus();

		return false;
	}
	</#if>
	
	return true;
}
</script>

<#assign preview = preview?exists && preview/>
<#assign isNewPost = isNewPost?exists && isNewPost/>
<#assign attachmentsEnabled = attachmentsEnabled?exists && attachmentsEnabled/>

<#if !maxAttachments?exists>
	<#assign maxAttachments = 0/>
</#if>

<#assign htmlChecked = "checked"/>
<#assign bbChecked = ""/>
<#assign signatureChecked = "checked"/>
<#assign repliesChecked = "checked"/>
<#assign smiliesChecked = ""/>

<#if isNewPost && !preview && !post?exists>
	<#if user.isHtmlEnabled()><#assign htmlChecked = ""/></#if>
	<#if !user.isBbCodeEnabled()><#assign bbChecked = "checked"/></#if>
	<#if !user.isSmiliesEnabled()><#assign smiliesChecked = "checked"/></#if>
	<#if !user.getAttachSignatureEnabled()><#assign signatureChecked = ""/></#if>
<#elseif post?exists>
	<#if post.isHtmlEnabled()><#assign htmlChecked = ""/></#if>
	<#if !post.isBbCodeEnabled()><#assign bbChecked = "checked"/></#if>
	<#if !post.isSmiliesEnabled()><#assign smiliesChecked = "checked"/></#if>
	<#if !post.isSignatureEnabled()><#assign signatureChecked = ""/></#if>
</#if>

<#if !user.isNotifyOnMessagesEnabled()><#assign repliesChecked = ""/></#if>

<form action="${JForumContext.encodeURL("/jforum")}" method="post" enctype="multipart/form-data" name="post" id="post" onSubmit="return validatePostForm(this)">
<input type="hidden" name="action" value="${action}" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="securityHash" value="${securityHash}" />
<#if forum?exists><input type="hidden" name="forum_id" value="${forum.id}" /></#if>
<input type="hidden" name="start" value="${start?default("")}" />
<#if post?exists && !isNewPost><input type="hidden" name="post_id" value="${post.id}" /></#if>
<#if (topic?exists && topic.id > -1)><input type="hidden" name="topic_id" value="${topic.id}" /></#if>

<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline">
			
			<!-- Preview message -->
			<a name="preview"></a>
			<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0" style="display: none" id="previewTable">
				<tr>
					<th height="25" class="thHead">${I18n.getMessage("PostForm.preview")}</th>
				</tr>
				<tr>
					<td class="row1">
						<img src="${contextPath}/templates/${templateName}/images/icon_minipost.gif"/>
						<span class="postdetails" id="previewSubject"> ${I18n.getMessage("PostForm.subject")}: <#if postPreview?exists>${postPreview.subject}</#if></span>
					</td>
				</tr>
				<tr>
					<td class="row1" height="100%">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
							<tr>
								<td><span id="previewMessage" class="postbody"><#if postPreview?exists>${postPreview.text}</#if></span></td>
							</tr>

							<#if (user?exists && user.attachSignatureEnabled && user.signature?exists && user.signature?length > 0 && post?exists && post.isSignatureEnabled())>
								<tr>
									<td>
										<hr />
										<span class="gensmall" id="previewSignature">
											<#if previewUser?exists>
												${previewUser.signature}
											<#else>
												${user.signature}
											</#if>
										</span>
									</td>
								</tr>
							</#if>
						</table>
					</td>
				</tr>
				<tr>
					<td class="spaceRow" height="1"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" width="1" height="1" /></td>
				</tr>
			</table>
			<br clear="all" />

			<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<td align="left">
						<span class="nav">
							<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>

							<#if forum?exists>
							-&gt; <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name}</a>
							</#if>
						</span>
					</td>
				</tr>
			</table>
		
			<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
				<tr>
					<th class="thHead" colspan="2" height="25">
						<b>
						<#if forum?exists>
							<#if (topic?exists && topic.id > -1)>
								${I18n.getMessage("PostForm.reply")} "${topic.title}"
							<#else>
								${I18n.getMessage("PostForm.title")}
							</#if>
						<#else>
							<#if pmReply?default(false)>
								${I18n.getMessage("PrivateMessage.reply")}
							<#else>
								${I18n.getMessage("PrivateMessage.title")}
							</#if>
						</#if>
						</b>
					</th>
				</tr>

				<#if !forum?exists>
					<tr>
						<td class="row1" width="22%"><span class="gen"><b>${I18n.getMessage("PrivateMessage.user")}</b></span></td>
						<td class="row2" width="78%">
							<#if pmRecipient?exists>
								<#assign toUsername = toUsername/>
								<#assign toUserId = toUserId/>
								<#assign toUserEmail = toUserEmail/>
								<#elseif preview>
								<#assign toUsername = pm.toUser.username/>
								<#assign toUserId = pm.toUser.id/>
								<#assign toUserEmail = pm.toUser.email?default("")/>
								<#elseif quote?default("") == "true" || pmReply?default(false)>
								<#assign toUsername = pm.fromUser.username/>
								<#assign toUserId = pm.fromUser.id/>
								<#assign toUserEmail = pm.fromUser.email?default("")/>
							<#else>
								<#assign toUsername = ""/>
								<#assign toUserId = ""/>
								<#assign toUserEmail = ""/>
							</#if>

							<input class="post" size="25" name="toUsername" value="${toUsername}"/>&nbsp;
							<input type="button" value="${I18n.getMessage("PrivateMessage.findUser")}" name="findUser" class="liteoption" onClick="window.open('${JForumContext.encodeURL("/pm/findUser")}','_findUser', 'height=250,resizable=yes,width=400');return false;">
							<input type="hidden" name="toUserId" value="${toUserId}" />
							<input type="hidden" name="toUserEmail" value="${toUserEmail}"/>
						</td>
					</tr>
				</#if>

				<#if errorMessage?exists>
					<tr>
						<td colspan="2" align="center"><span class="gen"><font color="#ff0000"><b>${errorMessage}</b></font></span></td>
					</tr>
				</#if>

				<tr>
					<td class="row1" width="22%"><span class="gen"><b>${I18n.getMessage("PostForm.subject")}</b></span></td>
					<#if post?exists>
						<#assign subject = post.subject?default("")?html/>
						<#elseif pmReply?default(false)>
						<#assign subject = pm.post.subject?html/>
						<#elseif topic?exists>
						<#assign subject = I18n.getMessage("Message.replyPrefix") + topic.title?default("")?html/>
					</#if>
					<td class="row2" width="78%">
						<span class="gen">
							<input class="post" style="WIDTH: 460px" tabindex="2" maxlength="100" size="45" name="subject" value="${subject?default("")}" /> 
						</span>
					</td>
				</tr>

				<tr>
					<td class="row1" valign="top">
						<table cellspacing="0" cellpadding="1" width="100%" border="0">
							<tr>
								<td><span class="gen"><b>${I18n.getMessage("PostForm.body")}</b></span> </td>
							</tr>
							
							<tr>
								<td valign="center" align="middle">
									<br />
									<table cellspacing="0" cellpadding="5" width="100" border="0">
										<tr align="middle">
											<td class="gensmall" colspan="4"><b>${I18n.getMessage("PostForm.emoticons")}</b></td>
										</tr>

										<tr valign="center" align="middle">
											<td><a href="javascript:emoticon(':D')"><img src="${contextPath}/templates/${templateName}/images/icon_biggrin.gif" alt="Very Happy" width="15" height="15" border="0" title="Very Happy" /></a></td>
											<td><a href="javascript:emoticon(':)')"><img src="${contextPath}/templates/${templateName}/images/icon_smile.gif" alt="Smile" width="15" height="15" border="0" title="Smile" /></a></td>
											<td><a href="javascript:emoticon(':(')"><img src="${contextPath}/templates/${templateName}/images/icon_sad.gif" alt="Sad" width="15" height="15" border="0" title="Sad" /></a></td>
											<td><a href="javascript:emoticon(':-o')"><img src="${contextPath}/templates/${templateName}/images/icon_surprised.gif" alt="Surprised" width="15" height="15" border="0" title="Surprised" /></a></td>
										</tr>

										<tr valign="center" align="middle">
											<td><a href="javascript:emoticon(':shock:')"><img src="${contextPath}/templates/${templateName}/images/icon_eek.gif" alt="Shocked" width="15" height="15" border="0" title="Shocked" /></a></td>
											<td><a href="javascript:emoticon(':?')"><img src="${contextPath}/templates/${templateName}/images/icon_confused.gif" alt="Confused" width="15" height="15" border="0" title="Confused" /></a></td>
											<td><a href="javascript:emoticon('8)')"><img src="${contextPath}/templates/${templateName}/images/icon_cool.gif" alt="Cool" width="15" height="15" border="0" title="Cool" /></a></td>
											<td><a href="javascript:emoticon(':lol:')"><img src="${contextPath}/templates/${templateName}/images/icon_lol.gif" alt="Laughing" width="15" height="15" border="0" title="Laughing" /></a></td>
										</tr>

										<tr valign="center" align="middle">
											<td><a href="javascript:emoticon(':mrgreen:')"><img src="${contextPath}/images/smilies/ed515dbff23a0ee3241dcc0a601c9ed6.gif" alt="Mad" width="15" height="15" border="0" title="Mad" /></a></td>
											<td><a href="javascript:emoticon(':P')"><img src="${contextPath}/templates/${templateName}/images/icon_razz.gif" alt="Razz" width="15" height="15" border="0" title="Razz" /></a></td>
											<td><a href="javascript:emoticon(':oops:')"><img src="${contextPath}/templates/${templateName}/images/icon_redface.gif" alt="Embarassed" width="15" height="15" border="0" title="Embarassed" /></a></td>
											<td><a href="javascript:emoticon(':cry:')"><img src="${contextPath}/templates/${templateName}/images/icon_cry.gif" alt="Crying or Very sad" width="15" height="15" border="0" title="Crying or Very sad" /></a></td>
										</tr>

										<tr valign="center" align="middle">
											<td><a href="javascript:emoticon(':evil:')"><img src="${contextPath}/templates/${templateName}/images/icon_evil.gif" alt="Evil or Very Mad" width="15" height="15" border="0" title="Evil or Very Mad" /></a></td>
											<td><a href="javascript:emoticon(':twisted:')"><img src="${contextPath}/templates/${templateName}/images/icon_twisted.gif" alt="Twisted Evil" width="15" height="15" border="0" title="Twisted Evil" /></a></td>
											<td><a href="javascript:emoticon(':roll:')"><img src="${contextPath}/templates/${templateName}/images/icon_rolleyes.gif" alt="Rolling Eyes" width="15" height="15" border="0" title="Rolling Eyes" /></a></td>
											<td><a href="javascript:emoticon(':wink:')"><img src="${contextPath}/templates/${templateName}/images/icon_wink.gif" alt="Wink" width="15" height="15" border="0" title="Wink" /></a></td>
										</tr>

										<tr valign="center" align="middle">
											<td><a href="javascript:emoticon(':!:')"><img src="${contextPath}/templates/${templateName}/images/icon_exclaim.gif" alt="Exclamation" width="15" height="15" border="0" title="Exclamation" /></a></td>
											<td><a href="javascript:emoticon(':?:')"><img src="${contextPath}/templates/${templateName}/images/icon_question.gif" alt="Question" width="15" height="15" border="0" title="Question" /></a></td>
											<td><a href="javascript:emoticon(':idea:')"><img src="${contextPath}/templates/${templateName}/images/icon_idea.gif" alt="Idea" width="15" height="15" border="0" title="Idea" /></a></td>
											<td><a href="javascript:emoticon(':arrow:')"><img src="${contextPath}/templates/${templateName}/images/icon_arrow.gif" alt="Arrow" width="15" height="15" border="0" title="Arrow" /></a></td>
										</tr>

										<script language="javascript">
										function smiliePopup()
										{
											w = window.open("${JForumContext.encodeURL("/posts/listSmilies")}", "smilies", "width=300, height=300, toolbars=no, scrollbars=yes");
											w.focus();
										}
										</script>

										<tr align="middle">
											<td colspan="4">
												<span class="nav"><a href="#" onClick="smiliePopup();return false;">${I18n.getMessage("PostForm.moreSmilies")}</a></span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>

					<td class="row2" valign="top">
						<span class="gen">
							<table cellspacing="0" cellpadding="2" width="470" border="0">
								<tr valign="center" align="middle">
									<td><span class="genmed"><input class="button" onmouseover="helpline('b')" style="FONT-WEIGHT: bold; WIDTH: 30px" accesskey="b" onclick="bbstyle(0)" type="button" value=" B " name="addbbcode0" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('i')" style="WIDTH: 30px; FONT-STYLE: italic" accesskey="i" onclick="bbstyle(2)" type="button" value=" i " name="addbbcode2" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('u')" style="WIDTH: 30px; TEXT-DECORATION: underline" accesskey="u" onclick="bbstyle(4)" type="button" value=" u " name="addbbcode4" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('q')" style="WIDTH: 50px" accesskey="q" onclick="bbstyle(6)" type="button" value="Quote" name="addbbcode6" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('c')" style="WIDTH: 40px" accesskey="c" onclick="bbstyle(8)" type="button" value="Code" name="addbbcode8" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('l')" style="WIDTH: 40px" accesskey="l" onclick="bbstyle(10)" type="button" value="List" name="addbbcode10" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('p')" style="WIDTH: 40px" accesskey="p" onclick="bbstyle(12)" type="button" value="Img" name="addbbcode12" /> </span></td>
									<td><span class="genmed"><input class="button" onmouseover="helpline('w')" style="WIDTH: 40px" accesskey="w" onclick="bbstyle(14)" type="button" value="URL" name="addbbcode14" /> </span></td>
								</tr>
								
								<tr>
									<td colspan="8">
										<table cellspacing="0" cellpadding="0" width="100%" border="0">
											<tr>
												<td>
													<span class="genmed">&nbsp;${I18n.getMessage("PostForm.textColor")}: 
													<select onmouseover="helpline('s')" onchange="bbfontstyle('[color=' + this.form.addbbcode18.options[this.form.addbbcode18.selectedIndex].value + ']', '[/color]')" name="addbbcode18"> 
														<option class="genmed" style="COLOR: black; BACKGROUND-COLOR: #fafafa" value="#444444" selected="selected">${I18n.getMessage("PostForm.colorDefault")}</option> 
														<option class="genmed" style="COLOR: darkred; BACKGROUND-COLOR: #fafafa" value="darkred">${I18n.getMessage("PostForm.colorDarkRed")}</option> 
														<option class="genmed" style="COLOR: red; BACKGROUND-COLOR: #fafafa" value="red">${I18n.getMessage("PostForm.colorRed")}</option> 
														<option class="genmed" style="COLOR: orange; BACKGROUND-COLOR: #fafafa" value="orange">${I18n.getMessage("PostForm.colorOrange")}</option> 
														<option class="genmed" style="COLOR: brown; BACKGROUND-COLOR: #fafafa" value="brown">${I18n.getMessage("PostForm.colorBrown")}</option> 
														<option class="genmed" style="COLOR: yellow; BACKGROUND-COLOR: #fafafa" value="yellow">${I18n.getMessage("PostForm.colorYellow")}</option> 
														<option class="genmed" style="COLOR: green; BACKGROUND-COLOR: #fafafa" value="green">${I18n.getMessage("PostForm.colorGreen")}</option> 
														<option class="genmed" style="COLOR: olive; BACKGROUND-COLOR: #fafafa" value="olive">${I18n.getMessage("PostForm.colorOlive")}</option> 
														<option class="genmed" style="COLOR: cyan; BACKGROUND-COLOR: #fafafa" value="cyan">${I18n.getMessage("PostForm.colorCyan")}</option> 
														<option class="genmed" style="COLOR: blue; BACKGROUND-COLOR: #fafafa" value="blue">${I18n.getMessage("PostForm.colorBlue")}</option> 
														<option class="genmed" style="COLOR: darkblue; BACKGROUND-COLOR: #fafafa" value="darkblue">${I18n.getMessage("PostForm.colorDarkBlue")}</option> 
														<option class="genmed" style="COLOR: violet; BACKGROUND-COLOR: #fafafa" value="violet">${I18n.getMessage("PostForm.colorViolet")}</option> 
														<option class="genmed" style="COLOR: white; BACKGROUND-COLOR: #fafafa" value="white">${I18n.getMessage("PostForm.colorWhite")}</option>
														<option class="genmed" style="COLOR: black; BACKGROUND-COLOR: #fafafa" value="black">${I18n.getMessage("PostForm.colorBlack")}</option>
													</select> 

													&nbsp;${I18n.getMessage("PostForm.font")}:
													<select onmouseover="helpline('f')" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]')" name="addbbcode20"> 
														<option class="genmed" value="7">${I18n.getMessage("PostForm.fontVerySmall")}</option> 
														<option class="genmed" value="9">${I18n.getMessage("PostForm.fontSmall")}</option> 
														<option class="genmed" value="12" selected="selected">${I18n.getMessage("PostForm.fontNormal")}</option> 
														<option class="genmed" value="18">${I18n.getMessage("PostForm.fontBig")}</option> 
														<option class="genmed" value="24">${I18n.getMessage("PostForm.fontGiant")}</option>
													</select> 
													</span>
												</td>
												<td nowrap="nowrap" align="right">
													<span class="gensmall"><a class="genmed" onmouseover="helpline('a')" href="javascript:bbstyle(-1)">${I18n.getMessage("PostForm.closeMarks")}</a></span>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td colspan="9">
										<span class="gensmall">
										<input name="helpbox" class="helpline" style="FONT-SIZE: 10px; WIDTH: 450px" value="${I18n.getMessage("PostForm.helplineTip")}" size="45" maxlength="100" /> 
										</span>
									</td>
								</tr>
								
								<tr>
									<td colspan="9" valign="top">
										<span class="gen">
											<textarea class="post" onkeyup="storeCaret(this);" onclick="storeCaret(this);" onselect="storeCaret(this);" style="WIDTH: 450px"  tabindex="3" name="message" rows="15" wrap="virtual" cols="35"><#if post?exists><#if quote?exists>[quote=${quoteUser}]${post.text}[/quote]<#else>${post.text}</#if></#if></textarea> 
										</span>
									</td>
								</tr>
							</table>
						</span>
					</td>
				</tr>
				
				<tr>
					<td class="row1" valign="center" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.options")}</b></span></td>
					<td class="row2">
						<table cellspacing="0" cellpadding="1" border="0">
							<#if htmlAllowed>
								<tr>
								<td><input type="checkbox" name="disable_html" ${htmlChecked} /></td>
								<td><span class="gen">${I18n.getMessage("PostForm.disableHtml")}</span></td>
								</tr>
							<#else>
								<input type="hidden" name="disable_html" value="1" />
							</#if>
							<tr>
								<td><input type="checkbox" name="disable_bbcode" ${bbChecked} /> </td>
								<td><span class="gen">${I18n.getMessage("PostForm.disableBbCode")}</span></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="disable_smilies" ${smiliesChecked} /> </td>
								<td><span class="gen">${I18n.getMessage("PostForm.disableSmilies")}</span></td>
							</tr>

							<#if user.id != 1>
								<tr>
									<td><input type="checkbox" name="attach_sig" ${signatureChecked} /> </td>
									<td><span class="gen">${I18n.getMessage("PostForm.appendSignature")}</span></td>
								</tr>

								<#if forum?exists>
								<tr>
									<td><input type="checkbox" name="notify" ${repliesChecked} /> </td>
									<td><span class="gen">${I18n.getMessage("PostForm.notifyReplies")}</span></td>
								</tr>
								</#if>
							</#if>

							<#if setType?default(true) && forum?exists && canCreateStickyOrAnnouncementTopics?default(false)>
							<tr>
								<td>&nbsp;</td>
								<td>
									<span class="gen">${I18n.getMessage("PostForm.setTopicAs")}:
									<input type="radio" checked value="0" name="topic_type" <#if topic?exists && topic.type == 0>checked</#if>>${I18n.getMessage("PostForm.setTopicAsNormal")}&nbsp;&nbsp;
									<INPUT type="radio" value="1" name="topic_type" <#if topic?exists && topic.type == 1>checked</#if>>${I18n.getMessage("PostForm.setTopicAsSticky")}&nbsp;&nbsp;
									<INPUT type="radio" value="2" name="topic_type" <#if topic?exists && topic.type == 2>checked</#if>>${I18n.getMessage("PostForm.setTopicAsAnnounce")}&nbsp;&nbsp;
									</span>
								</td>
							</tr>
							<#elseif topic?exists>
								<input type="hidden" name="topic_type" value="${topic.type}" />
							</#if>
						</table>
					</td>
				</tr>

				<#if needCaptcha?default(false)>
					<tr>
						<td class="row1" valign="center"><span class="gen"><b>${I18n.getMessage("User.captchaResponse")}:</b></span></td>
						<td class="row2">
							<input class="post" style="WIDTH: 100px; font-weight: bold;" maxlength="25" size="25" name="captcha_anwser" /> 
							<img src="${JForumContext.encodeURL("/captcha/generate")}" border="0" align="middle">
						</td>
					</tr>
				</#if>

				<#if error?exists>
					<tr>
						<td class="row1">&nbsp;</td>
						<td class="row2"><span class="gen"><font color="red"><b>${error}</b></font></span></td>
					</tr>
				</#if>
				
				<tr align="center">
					<td height="28" colspan="2" class="catBottom">              
						<input class="mainoption" tabindex="5" type="button" value="${I18n.getMessage("PostForm.preview")}" onClick="preview();" />&nbsp;
						<input class="mainoption" accesskey="s" tabindex="6" type="submit" value="${I18n.getMessage("PostForm.submit")}" name="post" />
						<#if attachmentsEnabled>
							<input class="mainoption" accesskey="s" tabindex="7" type="button" onClick="openAttachmentPanel();" value="${I18n.getMessage("Attachments.attach")}" name="post" />
						</#if>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<#if attachmentsEnabled || attachments?exists>
	<input type="hidden" name="edit_attach_ids">
	<input type="hidden" name="delete_attach">
	<input type="hidden" name="total_files" id="total_files">
	<tr>
	<td colspan="2" id="tdAttachPanel" align="center" style="display: <#if attachmentsEnabled>none;<#elseif attachments?exists>'';</#if>">

		<table border="0" cellpadding="3" cellspacing="0" width="70%" class="forumline" id="tblAttachments">
			<tr>
				<td class="catHead" height="28" colspan="3" align="center"><b><span class="cattitle">${I18n.getMessage("Attachments.panel")}</span></b></td>
			</tr>
			<tr>
				<td align="center">
					<span class="gensmall">
					<b>${I18n.getMessage("Attachments.maxToAttach")}:</b> <font color="red">${maxAttachments}</font> 
					<#assign maxSize = maxAttachmentsSize / 1024>
					<#if (maxSize > 1)>
						/ 
						<b>${I18n.getMessage("Attachments.maxSize")}:</b> <font color="red">${maxSize} kb</font>
					</#if>
					</span>
				</td>
			</tr>
			<tr>
				<td align="center">
					<div id="edit_attach"></div>

					<!-- Attachments -->
				   <div id="attach_0"></div>
				   
				</td>
			</tr>
			<#if attachmentsEnabled>
			<tr>
				<td align="center" class="row3"><input type="button" name="add_attach" value="Add antoher file" class="mainoption" onClick="addAttachmentFields()"></td>
			</tr>
			</#if>
		</table>
	</td>
	</tr>
	</#if>

	<#if ((topic?exists && topic.id > 0) || pmReply?default(false))>
	<tr>
	<td colspan="2">
		<table border="0" cellpadding="3" cellspacing="0" width="100%" class="forumline">
			<tr>
				<td class="catHead" height="28" align="center"><b><span class="cattitle">${I18n.getMessage("PostShow.topicReview")}</span></b></th>
			</tr>
	
			<tr>
				<td class="row1">
					<#if pmReply?default(false)>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/jforum${extension}?module=pm&action=review&id=${pm.id}", "")}" ></iframe>
					<#else>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/posts/review/${start}/${topic.id}")}" ></iframe>
					</#if>
			</tr>
			
		</table>
	</td>
	</tr>
	</#if>
</table>

<script language="javascript">
<#include "js/attachments.js"/>

<#if attachments?exists>
	ignoreStart = true;
	<#if attachmentsEnabled>
		openAttachmentPanel();
	</#if>
	editAttachments();
</#if>
</script>

</form>

<#include "bottom.htm"/>