<#import "../macros/pagination.ftl" as pagination/>
<#import "../macros/presentation.ftl" as presentation/>

<script language="JavaScript">
function confirmDelete()
{
	if (confirm("${I18n.getMessage("Moderation.ConfirmPostDelete")}")) {
		return true;
	}
	
	return false;
}

<#if karmaEnabled>
	function karmaVote(s, postId) {
		if (s.selectedIndex == 0) {
			return;
		}

		if (confirm("${I18n.getMessage("Karma.confirmVote")}")) {
			document.location = "${contextPath}/karma/insert/" + postId + "/" + s.value + "${extension}";
		}
		else {
			s.selectedIndex = 0;
		}
	}

	function karmaPointsCombo(postId)
	{
		document.write('<select name="karma" onChange="karmaVote(this,' + postId + ')">');
		document.write('	<option value="">Choose a note</option>');
		document.write('	<option value="1">1</option>');
		document.write('	<option value="2">2</option>');
		document.write('	<option value="3">3</option>');
		document.write('	<option value="4">4</option>');
		document.write('	<option value="5">5</option>');
		document.write('</select>');
	}
</#if>
</script>

<script language="javascript">
<#include "utils.js"/>
</script>

<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline">
			<table cellspacing="2" cellpadding="2" width="100%" border="0">
				<tr>
					<td valign="middle" align="left" colspan="2">
						<span class="maintitle"><a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}" name="top" class="maintitle" id="top">${topic.title?html}</a></span>
						<#if rssEnabled>
						&nbsp;<a href="${contextPath}/rss/topicPosts/${topic.id}${extension}"><img src="${contextPath}/templates/${templateName}/images/xml_button.gif" border="0"></a>
						</#if>
					</td>
				</tr>
			</table>
			
			<table cellspacing="2" cellpadding="2" width="100%" border="0">
				<tr>
					<#if !readonly>
					<td width="15%" align="left" valign="bottom" nowrap="nowrap">
					</#if>
						<#if topic.status == STATUS_LOCKED>
							<img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/reply_locked.gif" />
						<#else>
							<#if !readonly>
								<span class="nav">
								<#if !replyOnly>
									<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&action=insert&forum_id=${topic.forumId}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/post.gif" border="0" /></a>
								</#if>

								<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&action=insert&topic_id=${topic.id}&forum_id=${topic.forumId}&start=${start}", "")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/reply.gif" border="0" /></a>
								</span>
							<#else>
								<#assign colspan = "2"/>
							</#if>
						</#if>
					</td>

					<td valign="center" align="left" colspan="${colspan?default("0")}">
						<span class="nav">
						<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")} </a> 
            			-&gt; <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name} </a>
					</td>
					
					<#if logged?default(false)>
					<td align="left" valign="middle">
						<span class="nav">
						<#assign watch = "watch"/>
						<#assign watchMessage = I18n.getMessage("PostShow.watch")/>
						<#if watching>
							<#assign watch = "unwatch"/>
							<#assign watchMessage = I18n.getMessage("PostShow.unwatch")/>
						</#if>
						
						<a href="${JForumContext.encodeURL("/posts/${watch}/${start}/${topicId}")}"><img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" border="0"></a>
						<a href="${JForumContext.encodeURL("/posts/${watch}/${start}/${topicId}")}">${watchMessage}</a>
						
						<#if bookmarksEnabled>
							&nbsp;
							<a href="javascript:addBookmark(2, ${topic.id});"><img src="${contextPath}/templates/${templateName}/images/icon_bookmark.gif" align="middle">&nbsp;${I18n.getMessage("Bookmarks.addTo")}</a>
						</#if>
						</span>
					</td>
					</#if>

					<td valign="middle" align="right"><@pagination.doPagination "list", topic.id/></td>
			
				</tr>
			</table>

			<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
				<tr>
					<th class="thLeft" nowrap="nowrap" width="150" height="26">${I18n.getMessage("PostShow.author")}</th>
					<th class="thRight" nowrap="nowrap" width="100%">${I18n.getMessage("PostShow.messageTitle")}</th>
				</tr>

				<!-- POSTS --> 
				<#assign rowColor = ""/>
				<#list posts as post>
					<#if post_index % 2 == 0>
						<#assign rowColor = "row1">
					<#else>
						<#assign rowColor = "row2">
					</#if>
	
					<#assign user = users.get(post.userId)/>
				<tr>
				
					<td colspan="2">
						<table width="100%" cellspacing="0">
							<tr>
								<td width="160" class="postInfo" height="22">
									<span class="postdetails">
									
									<a href="${JForumContext.encodeURL("/posts/list/${start}/${post.topicId}")}#${post.id}">
									<img src="${contextPath}/templates/${templateName}/images/icon_minipost_new.gif" /></a>${post.formatedTime}
									</span>
								</td>

								<td class="postInfo" height="22">
									<span class="postdetails">&nbsp;&nbsp; &nbsp;<b>${I18n.getMessage("PostShow.subject")}:</b> <a name="${post.id}" id="${post.id}">${post.subject?default("")?html}</a>
									</span>
								</td>
								
								<td valign="top" nowrap="nowrap" align="right" class="postInfo">
									<#if karmaEnabled>
										<script language="javascript">writeStars(${post.karma.karmaPoints}, ${post.id});</script>
									</#if>

									<!-- Icons -->
									<#if topic.status != STATUS_LOCKED>
										<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=quote&amp;post_id=${post.id}&start=${start}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/icon_quote.gif" border="0" /></a>
									</#if>

									<#if ((post.canEdit && topic.status != STATUS_LOCKED) || canEdit)>
										<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=edit&amp;post_id=${post.id}&start=${start}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/icon_edit.gif" border="0" /></a>  
									</#if>

									<#if canRemove>
										<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=delete&amp;post_id=${post.id}&start=${start}","")}" onClick="return confirmDelete();"><img src="${contextPath}/templates/${templateName}/images/icon_delete.gif" border="0"/></a>  
									</#if>

									<a class="nav" href="#top"><img src="${contextPath}/templates/${templateName}/images/icon_up.gif" border="0"/></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<!-- Username -->
					<td class="${rowColor}" valign="top" align="left" rowspan="3">
					
						<span class="name"><b>${user.username}</b></span>
						<br />
						<#if karmaEnabled && post.userId != 1>
							<script language="javascript">writeStars(${user.karma.karmaPoints}, "${user.id}${post.id}");</script>
							<br/>
						</#if>
						
						<span class="postdetails">
						<#if post.userId != 1>
							${rank.getRankTitle(user.totalPosts)}
							<br />
						</#if>

						<#if (user.avatar?exists && user.avatar?length > 0)>
							<#if user.isExternalAvatar() || user.avatar.startsWith("http://")>
								<img src="${user.avatar}" border="0">
							<#else>
								<img src="${contextPath}/images/avatar/${user.avatar}" border="0" /><br />
							</#if>
						</#if>
						<br /> 
						
						<#if post.userId != 1>
							${I18n.getMessage("PostShow.userRegistrationDate")}: ${user.registrationDate?date('dd/MM/yyyy')}<br />
							${I18n.getMessage("PostShow.userTotalMessages")}: ${user.totalPosts}
						</#if>
						<br />
						
						<#if (user.from?exists && user.from?length > 0)>
							${I18n.getMessage("PostShow.userFrom")}: ${user.from}
							<br />
						</#if>

						<#if post.userIp?exists && isModerator>
							${I18n.getMessage("PostShow.userIP")}: ${post.userIp}
							<br />
						</#if>

						<#if post.userId != 1>
							<#if user.isOnline()>
								<span class="online">${I18n.getMessage("PostShow.userOnline")}</span>
							<#else>
								<span class="offline">${I18n.getMessage("PostShow.userOffline")} </span>
							</#if>
						</#if>
						</span>
						<br />
					</td>
	
					<!-- Message -->
					<td class="${rowColor}" valign="top">
						<span class="postbody">${post.text}</span>

						<#if post.hasAttachments() && (canDownloadAttachments || attachmentsEnabled)>
							<#assign attachments = am.getAttachments(post.id)/>

							<#list attachments as a>
								<p>
								<table width="70%" border="1" cellpadding="2" cellspacing="0" class="attachtable" align="center">
									<tr>
										<td width="100%" colspan="3" class="attachheader" align="center"><b><span class="gen">${a.info.realFilename}</span></b></td>
									</tr>
									<tr>
										<td width="15%" class="attachrow"><span class="genmed">&nbsp;${I18n.getMessage("Attachments.description")}</span></td>
										<td width="75%" class="attachrow"><span class="genmed">${a.info.comment?default(I18n.getMessage("Attachments.noDescription"))}</span></td>
										<td rowspan="3" align="center">
											<img src="${contextPath}/templates/${templateName}/images/icon_disk.gif">
											<a href="${JForumContext.encodeURL("/posts/downloadAttach/${a.id}")}" class="gensmall"><b>${I18n.getMessage("Attachments.download")}</a></a>
										</td>
									</tr>
									<tr>
										<td class="attachrow"><span class="genmed">&nbsp;${I18n.getMessage("Attachments.filesize")}</span></td>
										<td class="attachrow">
											<span class="genmed">
											<#if (a.info.filesize < 1024)>
												${a.info.filesize} bytes
											<#else>
												${a.info.filesize / 1024} kb
											</#if>
											</span>
										</td>

									</tr>
									<tr>
										<td class="attachrow"><span class="genmed">&nbsp;${I18n.getMessage("Attachments.totalDownload")}:</span></td>
										<td class="attachrow"><span class="genmed">&nbsp;${a.info.downloadCount} ${I18n.getMessage("Attachments.time")}</span></td>
									</tr>
								</table>
								</p>
							</#list>
						</#if>
					</td>
				</tr>

				<#if (user.attachSignatureEnabled && user.signature?exists && user.signature?length > 0 && post.isSignatureEnabled())>
					<tr>
						<td colspan="2" class="${rowColor}" width="100%" height="28"><hr/><span class="gensmall">${user.signature}</span></td>
					</tr>
				</#if>
	
				<tr> 
					<td class="${rowColor}" valign="bottom" nowrap="nowrap" height="28" width="100%">
						<table height="18" cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								<td valign="center" nowrap="nowrap"> 
									<a href="${JForumContext.encodeURL("/user/profile/${user.id}")}"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/icon_profile.gif" border="0" /></a>
									<a href="${JForumContext.encodeURL("/pm/sendTo/${user.id}")}"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/icon_pm.gif" border="0" /></a>

									<#if (user.isViewEmailEnabled() && user.email?exists && user.email?length > 0)>
										<#assign e = user.email.split("@")/>
										<a href="#" onClick="document.location = 'mailto:' + showEmail('${e[0]}', '${e[1]}');"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" border=0></a>
									</#if>
									
									<#if (user.webSite?exists && user.webSite?length > 0)>
										<a href="${user.webSite}" target="_new"><img src="${contextPath}/templates/${templateName}/images/icon_www.gif" border="0" /></a>
									</#if>
									
									<#if (user.yim?exists && user.yim?length > 0)>
										<a href="http://edit.yahoo.com/config/send_webmesg?.target=${user.yim}&amp;.src=pg"><img src="${contextPath}/templates/${templateName}/images/icon_yim.gif" border="0" /></a>
									</#if>
									
									<#if (user.msnm?exists && user.msnm?length > 0)>
										<a href="${JForumContext.encodeURL("/user/profile/${user.id}")}"><img src="${contextPath}/templates/${templateName}/images/icon_msnm.gif" border="0" /></a>
									</#if>
									
									<#if (user.icq?exists && user.icq?length > 0)>
										<a href="http://wwp.icq.com/scripts/search.dll?to=${user.icq}"><img src="${contextPath}/templates/${templateName}/images/icon_icq_add.gif" border="0" /></a>
									</#if>
								</td>

								<#if karmaEnabled && post.userId != session.userId && logged>
									<td align="right">
									<#if !karmaVotes.containsKey(post.id)>
										<script language="javascript">karmaPointsCombo(${post.id})</script>
									<#else>
										<span class="gensmall">${I18n.getMessage("Karma.yourRate")}: ${karmaVotes.get(post.id)}</span>
									</#if>
									</td>
								</#if>
							</tr>
						</table>
					
				</td>
				</tr>
	
				<tr>
					<td class="spaceRow" colspan="2" height="1"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" alt="" width="1" height="1" /></td>
				</tr>
			</#list>
			<!-- END OF POSTS -->	
			
			<tr align="center">
				<td class="catBottom" colspan="2" height="28">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td align="center"><span class="gensmall">&nbsp;</span></td>
						</tr>
					</table>
				</td>
			</tr>  
			</table>
		
			<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<#if !readonly>
					<td width="15%" align="left" valign="bottom" nowrap="nowrap">
					</#if>
					<#if topic.status == STATUS_LOCKED>
						<img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/reply_locked.gif" />
					<#else>
						<#if !readonly>
							<span class="nav">
							<#if !replyOnly>
								<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&action=insert&forum_id=${topic.forumId}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/post.gif" border="0" /></a>
							</#if>

							&nbsp;<a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&action=insert&topic_id=${topic.id}&forum_id=${topic.forumId}&start=${start}","")}" rel="nofollow"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/reply.gif" border="0" /></a>
							</span>
						<#else>
							<#assign colspan = "2"/>
						</#if>
		  			</#if>
					</td>
					
					<td valign="center" align="left" colspan="${colspan?default("0")}">
						<span class="nav">
						<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")} </a> 
            			-&gt; <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name} </a>
						</span>
					</td>

					<td valign="middle" align="right"><@pagination.doPagination "list", topic.id/></td>
				</tr>
				
				<tr>
					<td colspan="3"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" alt="" width="1" height="1" /></td>
				</tr>


				<#if logged || anonymousPosts>
				<script language="javascript">
				var quick = false;

				function activateQuickReply()
				{
					quick = !quick;

					document.getElementById("trQuickBody").style.display = (quick ? "" : "none");
					document.getElementById("trQuickSubmit").style.display = (quick ? "" : "none");

					if (quick) {
						document.location = "#quick";
					}
				}

				function validatePostForm(f)
				{
					if (f.message.value.replace(/^\s*|\s*$/g, "").length == 0) {
						alert("${I18n.getMessage("PostForm.textEmpty")}");
						f.message.focus();
						
						return false;
					}
					
					return true;
				}
				</script>

				<form action="${JForumContext.encodeURL("/jforum")}" method="post" name="post" id="post" onsubmit="return validatePostForm(this);" accept-charset="${encoding}">
					<input type="hidden" name="action" value="insertSave" />
					<input type="hidden" name="module" value="posts" />
					<input type="hidden" name="securityHash" value="${securityHash}" />
					<input type="hidden" name="forum_id" value="${forum.id}" />
					<input type="hidden" name="start" value="${start?default("")}" />
					<input type="hidden" name="topic_id" value="${topic.id}" />
					<input type="hidden" name="notify" value="1" />
					<input type="hidden" name="attach_sig" value="1" />
					<input type="hidden" name="disable_html" value="1" />

				<tr>
					<td colspan="3">
						<table width="100%">
							<tr>
								<td align="center">
									<img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" align="middle">
									<span class="nav"><a href="javascript:activateQuickReply()">${I18n.getMessage("PostForm.quickReply")}</a></span>
								</td>
							</td>
							<tr style="display: none;" id="trQuickBody">
								<td align="center">
									<textarea class="post" style="WIDTH: 350px" name="message" rows="10" wrap="virtual" cols="35""></textarea>
								</td>
							</tr>

							<tr style="display: none;" id="trQuickSubmit">
								<td align="center">
									<input type="submit" value="${I18n.getMessage("PostForm.submit")}" class="mainoption">
								</td>
							</tr>
						</table>
					</td>
				</tr>

				</form>

				
				</#if>
				
				<!--
		        <tr>
					<td align="left" colspan="3">
					<span class="gensmall">
					<a href="${JForumContext.encodeURL("/posts/unwatch/${topic.id}")}">${I18n.getMessage("PostShow.unwatch")}</a>
					</span>
					</td>
				</tr>
				
				<tr>
					<td colspan="3"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" alt="" width="1" height="1" /></td>
				</tr>
				
				<tr>
					<td align="left" colspan="2">
					<img src="${contextPath}/templates/${templateName}/images/topic_delete.gif" border="0"/>
					<img src="${contextPath}/templates/${templateName}/images/topic_move.gif" border="0"/>
					<img src="${contextPath}/templates/${templateName}/images/topic_lock.gif" border="0"/>
					</td>
					<td align="right">eee</td>
				</tr>
				-->
			</table>

			<@presentation.forumsComboTable/>
	</tr>
</table>
<a name="quick"></a>
