<script language="JavaScript">
function validateInfo()
{
	var f = document.form1;
	var message = "";
	
	if (f.email.value == "") {
		message = "${I18n.getMessage("User.fillEmail")}";
	}
	else if (f.newPassword.value == "") {
		message = "${I18n.getMessage("User.fillPassword")}";
	}
	else if (f.confirmPassword.value == "") {
		message = "${I18n.getMessage("User.fillPasswordConfirmation")}";
	}
	else if ((f.newPassword.value != f.confirmPassword.value)) {
		message = "${I18n.getMessage("User.passwordNotMatch")}";
	}
	
	if (message != "") {
		alert(message);
		return false;
	}
	
	return true;
}
</script>

  <form accept-charset="${encoding}" name="form1" action="${contextPath}/jforum.page" method=post target=_top onSubmit="return validateInfo()">
  <input type="hidden" name="module" value="user">
  <input type="hidden" name="securityHash" value="${securityHash}">
  <input type="hidden" name="recoverHash" value="${recoverHash}">
  <input type="hidden" name="action" value="recoverPasswordValidate">
  
  
  <TABLE cellSpacing=2 cellPadding=2 width="100%" align=center border=0>
<TBODY>
<TR>
  <TD class=nav align=left><A class=nav href="${contextPath}/forums/list.page">${I18n.getMessage("ForumListing.forumIndex")}</A></TD></TR></TBODY></TABLE>
  <TABLE class=forumline cellSpacing=1 cellPadding=4 width="100%" align=center border=0>
<TBODY>
<TR>
  <TH class=thHead noWrap height=25>${I18n.getMessage("PasswordRecovery.title")}
  </TH></TR>
<TR>
  <TD class=row1>
<TABLE cellSpacing=1 cellPadding=3 width="100%" border=0>
  <TBODY>
  <TR>
<TD align=middle colSpan=2>&nbsp;</TD></TR>
<TD align=right width="45%"><SPAN class=gen>
${I18n.getMessage("User.emailAddress")}:</SPAN></TD>
<TD>
  <INPUT maxLength=40 size=25 name=email>&nbsp;   </TD>
</TR>

<tr>
<TD align=right width="45%"><SPAN class=gen>
${I18n.getMessage("User.newPassword")}:</SPAN></TD>
<TD>
  <INPUT maxLength=40 size=25 name=newPassword type="password">&nbsp;
  </TD>
</TR>

<tr>
<TD align=right width="45%"><SPAN class=gen>
${I18n.getMessage("User.confirmPassword")}:</SPAN></TD>
<TD>
  <INPUT maxLength=40 size=25 name=confirmPassword type="password">&nbsp;
  <input class=mainoption type=submit value="${I18n.getMessage("ok")}" name=login></TD>
</TR>

  <TR align=middle>
<TD colSpan=2 align="center"><span class="gen">${I18n.getMessage("PasswordRecovery.finalInstructions")}</span></TD>
  </TR>
  <TR align=middle>
<TD colSpan=2>&nbsp;</TD>
  </TR>
  </TABLE>
  </TD>
  </TR>
  </TBODY>
  </TABLE>
  </FORM>