<#include "header.htm"/>
<form accept-charset="${encoding}" action="${JForumContext.encodeURL("/jforum")}" method="get" id="formSearch" name="formSearch">
	<input type="hidden" name="module" value="${moduleName}" />
	<input type="hidden" name="action" value="search" />
	<input type="hidden" name="clean" value="1" />
	
	<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
		<tr>
			<td align="left">
				<span class="nav"><a class="nav" href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a></span>
			</td>
	    </tr>
	</table>

	<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
		<tr>
			<th class="thhead" colspan="4" height="25">${I18n.getMessage("Search.terms")}</th>
		</tr>
		
		<tr>
			<td class="row1" width="50%" colspan="2"><span class="gen">${I18n.getMessage("Search.typeKeywords")}</span></td>
			<td class="row2" valign="top" colspan="2">
				<p><span class="genmed">
				<input class="post" style="WIDTH: 300px" size="30" name="search_keywords" />
				<br /><br />
				<input name="search_terms" type="radio" value="all" checked="checked" /> 
				${I18n.getMessage("Search.allTerms")}
				</span>
				<br />
				<span class="genmed"><input type="radio" value="any" name="search_terms" />${I18n.getMessage("Search.anyTerm")}</span>
				</p>
			</td>
        </tr>
        <tr>
			<th class="thhead" colspan="4" height="25">${I18n.getMessage("Search.options")}</th>
        </tr>
		
        <tr>
			<td class="row1" align="right"><span class="gen">${I18n.getMessage("Search.forum")}:&nbsp;</span></td>
			<td class="row2">
				<span class="genmed">
				<select class="post" name="search_forum">
					<option value="" selected="selected">${I18n.getMessage("Search.allAvailable")}</option>
					<#list categories as c>
						<#list c.getForums() as f>
		  					<option value="${f.id}">${f.name}</option>
						</#list>
					</#list>
				</select>
				</span>
			</td>
			<td class="row1" align="right" rowspan="2"><span class="gen">${I18n.getMessage("Search.orderBy")}:&nbsp;</span></td>
			<td class="row2" valign="middle" nowrap="nowrap" rowspan="2">
				<span class="genmed">
				<select class="post" name="sort_by">
					<option value="time" selected="selected">${I18n.getMessage("Search.postDate")}</option>
					<option value="title">${I18n.getMessage("Search.subject")}</option>
					<!--
					<option value="username">${I18n.getMessage("Search.author")}</option>
					-->
					<option value="forum">${I18n.getMessage("Search.forum")}</option>
				</select>
				<br />
				<input type="radio" value="ASC" name="sort_dir" /> ${I18n.getMessage("Search.ascending")}<br />
				<input type="radio" checked="checked" value="DESC" name="sort_dir" /> ${I18n.getMessage("Search.descending")}
				</span>
			</td>
		</tr>
		<tr>
			<td class="row1" align="right"><span class="gen">${I18n.getMessage("Search.category")}:&nbsp;</span></td>
			<td class="row2">
				<span class="genmed">
				<select class="post" name="search_cat">
					<option value="" selected="selected">${I18n.getMessage("Search.allAvailable")}</option>
					<#list categories as c>
		  				<option value="${c.id}">${c.name}</option>
					</#list>
				</select>
				</span>
			</td>
		</tr>
		<tr>
			<td class="catbottom" align="center" colspan="4" height="28"><input class="liteoption" type="submit" value="${I18n.getMessage("Search.search")}" /></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
<!--
document.formSearch.search_keywords.focus();
-->
</script>
<#include "bottom.htm"/>