<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
    <tr>
      <td align="left"><span class="nav"><a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></span></td>
    </tr>
</table>

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" align="center" border="0">
	<tr>
		<th class="thHead" nowrap="nowrap" colspan="2" height="25">${I18n.getMessage("UserProfile.profileFor")} :: ${u.username}</th>
	</tr>

	<tr>
		<td class="catLeft" align="middle" width="40%" height="28"><b><span class="gen">${I18n.getMessage("UserProfile.avatar")}</span></b></td>
		<td class="catRight" align="center" width="60%"><b><span class="gen">${I18n.getMessage("UserProfile.allAbout")} ${u.username}</span></b></td>
    </tr>

	<tr>
		<td class="row1" valign="top" align="middle" height="6">
			<#if (u.avatar?exists && u.avatar?length > 0)>
				<#if u.isExternalAvatar() || u.avatar.startsWith("http://")>
					<img src="${u.avatar}" border="0">
				<#else>
					<img src="${contextPath}/images/avatar/${u.avatar}" border="0" /><br />
				</#if>
			</#if>
			<span class="postdetails">Ranking: ${rank.getRankTitle(u.totalPosts)}</span>
		</td>

		<td class="row1" valign="top" rowspan="3">
			<table cellspacing="1" cellpadding="3" width="100%" border="0">
				<tr>
					<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.registrationDate")}:&nbsp;</span></td>
					<td width="100%"><b><span class="gen">${u.registrationDate}</span></b></td>
				</tr>
				
				<tr>
					<td valign="top" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.totalMessages")}:&nbsp;</span></td>
					<td valign="top"><b><span class="gen">${u.totalPosts}</span></b><br /></span></td>
				</tr>

				<#if (u.location?exists && u.location?length > 0)>
				<tr>
					<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.from")}:&nbsp;</span></td>
					<td><b><span class="gen">${u.location}</span></b></td>
				</tr>
				</#if>
            
				<#if (u.webSite?exists && u.webSite?length > 0)>
				<tr>
					<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.webSite")}:&nbsp;</span></td>
					<td><span class="gen"><b><a href="${u.webSite}" target="_new">${u.webSite}</a></b></span></td>
				</tr>
				</#if>
            
				<#if (u.occupation?exists && u.occupation?length > 0)>
				<tr>
					<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.occupation")}:&nbsp;</span></td>
					<td><b><span class="gen">${u.occupation}</span></b></td>
				</tr>
				</#if>
            
				<#if (u.interests?exists && u.interests?length > 0)>
				<tr>
					<td valign="top" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.interests")}:</span></td>
					<td><b><span class="gen">${u.interests}</span></b></td>
				</tr>
				</#if>
			</table>
		</td>
	</tr>
    
	<tr>
		<td class="catLeft" align="middle" height="28"><b><span class="gen">${I18n.getMessage("UserProfile.contact")} ${u.username}</span></b></td>
	</tr>
    
	<tr>
		<td class="row1" valign="top">
			<table cellspacing="1" cellpadding="3" width="100%" border="0">
			<#if (u.isViewEmailEnabled() && u.email?exists && u.email?length > 0)>
			<tr>
				<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.emailAddress")}:</span></td>
				<td class="row1" valign="center" width="100%">
					<b><span class="gen">
					<script language="JavaScript" src="${contextPath}/templates/default/utils.js" type="text/JavaScript"></script>
					<#assign e = u.email.split("@")/>
					<a href="#" onclick="document.location = 'mailto:' + showEmail('${e[0]}', '${e[1]}');"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" border="0" /></a>
					</span></b>
				</td>
			</tr>
			</#if>

			<#if u.id != 1>
			<tr>
				<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.privateMessage")}:</span></td>
				<td class="row1" valign="center">
					<b><span class="gen">
					<a href="${JForumContext.encodeURL("/pm/sendTo/${u.id}")}"><img src="${contextPath}/templates/${templateName}/images/icon_pm.gif" border="0" /></a>
					</span></b>
				</td>
			</tr>
			</#if>
            
			<#if (u.msnm?exists && u.msnm?length > 0)>
			<tr>
				<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("User.msn")}:</span></td>
				<td class="row1" valign="center"><span class="gen">${u.msnm}</span></td>
			</tr>
			</#if>
            
			<#if (u.yim?exists && u.yim?length > 0)>
			<tr>
				<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("User.yahoo")}:</span></td>
				<td class="row1" valign="center"><span class="gen">${u.yim}</span></td>
			</tr>
			</#if>

			<#if (u.icq?exists && u.icq?length > 0)>
			<tr>
				<td valign="center" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("User.icq")}:</span></td>
				<td class="row1">
					<a href="http://wwp.icq.com/scripts/search.dll?to=${u.icq}"><img src="${contextPath}/templates/${templateName}/images/icon_icq_add.gif" border="0" /></a>
				</td>
			</tr>
			</#if>
			</table>
		</td>
	</tr>
</table>