<#setting datetime_format = "dd/MM/yyyy"/>
<#import "../macros/pagination.ftl" as pagination/>
<script language="javascript">
<#include "utils.js"/>
</script>
<script language="javascript">
var quick = false;

function activateAdvancedQuery(){
	quick = !quick;
	document.getElementById("trQuickBody").style.display = (quick ? "" : "none");
	document.getElementById("trQuickSubmit").style.display = (quick ? "" : "none");
	if (quick) {
		document.location = "#quick";
	}
}
</script>
<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
    <tr>
      <td align="left"><span class="nav"><a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></span></td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td colspan="3">
			<table width="100%">
				<tr>
					<td align="right">
						<img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" align="middle">
						<span class="nav"><a href="javascript:activateAdvancedQuery()">${I18n.getMessage("Karma.advancedQuery")}</a></span>
					</td>
				</td>
			</table>
		</td>
	</tr>
</table>
<form action="${JForumContext.encodeURL("/user/searchKarma")}" method="post" name="post" id="post">
<table align="center" cellspacing="1" cellpadding="3" bgcolor="FFFFFF" width="100%" border="0" >
	<tr>
<!--		<td width="100">
		</td >
		-->
		<td >
			<table class="forumline" width="100%" align="center">				
				<!-- User information
				<tr id="trQuickBody">
					<th class="thTop" align="left">
						<b>User:</b><BR>
						<font size="-3">Search for user data.</font>
					</th>
				</tr>				
				<tr id="trQuickBody">
					<td class="row2" align="left" >
						${I18n.getMessage("User.username")}:
						<input class="post" type="text" style="WIDTH: 200px" maxlength="255" size="25" name="username" value=""/>
					</td>
				</tr>
				<tr  id="trQuickSubmit">
					<td align="center">
						<input type="submit" value="${I18n.getMessage("PostForm.submit")}" class="mainoption">
					</td>
				</tr>
				-->
				<tr id="trQuickBody">
					<th class="thTop" align="left">
						<b>Karma:</b>
						<BR>
						<font size="-3">Search for votes between dates.</font>
					</th>
				</tr>
				<tr id="trQuickBody">
					<td class="row2" align="left" >
						Mouth:
						<select name="mouths">
							<option value="January">January</option>
							<option value="February">February</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
							<option value="january">January</option>
						</select>
						<BR>					
						Period mode:
						<BR>
						Year:<input class="post" type="text" maxlength="10" size="15" name="first_date" value="2005"/>
						<BR>
						Fisrt Date: <input class="post" type="text" maxlength="10" size="15" name="first_date" value=""/>
						<BR>
						Last Date: <input class="post" type="text"  maxlength="10" size="15" name="last_date" value=""/>
						<BR>
						Order by:
						<BR>
						<input type="radio" name="order_by" value="total_points_orderby"/> Total Points
						&nbsp;<input type="radio" name="order_by" value="votes_received_orderby"/> Votes Received						
						&nbsp;<input type="radio" name="order_by" value="votes_given_orderby"/> Votes Given						
						&nbsp;<input type="radio" name="order_by" value="karma_orderby"/> Karma
					</td>
				</tr>
				
				<!--<tr style="display: none;" id="trQuickBody">-->
				<tr  id="trQuickSubmit">
					<td align="center">
						<input type="submit" value="${I18n.getMessage("PostForm.submit")}" class="mainoption">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
	<tr>
	  <th class="thCornerL" nowrap="nowrap">#</th>
	  <th class="thTop" nowrap="nowrap">&nbsp;${I18n.getMessage("User.username")}&nbsp;</th>
	  <th class="thTop" nowrap="nowrap" width="59px">&nbsp;${I18n.getMessage("UserProfile.privateMessage")}&nbsp;</th>	  
	  <th class="thTop" nowrap="nowrap" width="59px">&nbsp;${I18n.getMessage("email")}&nbsp;</th>
	  <th class="thTop" nowrap="nowrap">&nbsp;${I18n.getMessage("UserProfile.from")}&nbsp;</th>
	  <th class="thTop" nowrap="nowrap">&nbsp;${I18n.getMessage("UserProfile.registrationDate")}&nbsp;</th>
	  <th class="thTop" nowrap="nowrap">&nbsp;${I18n.getMessage("User.numMessages")}&nbsp;</th>
	  <th class="thTop" nowrap="nowrap">&nbsp;www &nbsp;</th>
	  <th class="thCornerR" nowrap="nowrap">&nbsp;${I18n.getMessage("Karma.karma")}&nbsp;</th>
	</tr>

	<#list users as user>
		<tr align="center">		  
			<td class="row2"><span class="gen">${user.id}</span></td>			
			<td class="row2"><span class="gen"><a href="${JForumContext.encodeURL("/user/profile/${user.id}")}">${user.username}</a></span></td>
			<td class="row2"><span class="gen"><#if user.id != 1><a href="${JForumContext.encodeURL("/pm/sendTo/${user.id}")}"><img src="${contextPath}/templates/${templateName}/images/${imagesI18n}/icon_pm.gif" border="0" /></a><#else>&nbsp;</#if></span></td>
			<td class="row2"><span class="gen"><#if (user.isViewEmailEnabled() && user.email?exists && user.email?length > 0)>
			<#assign e = user.email.split("@")/>
			<a href="#" onclick="document.location = 'mailto:' + showEmail('${e[0]?default("")}', ' ${e[1]?default("")}');"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" border="0" /></a></span></td>
			<#else>&nbsp;
			</#if>
			<td class="row2"><span class="gen">${user.from?default("&nbsp;")}</span></td>
			<td class="row2"><span class="gen">${user.registrationDate?date("dd/MM/yyyy")}</span></td>
			<td class="row2"><span class="gen">${user.totalPosts}</span></td>
			<td class="row2"><span class="gen">${user.webSite?default("&nbsp;")}</span></td>
			<td class="row2"><span class="gen">${user.karma.karmaPoints}</span></td>
		</tr>
	</#list>

	<tr align="center">
		<td class="catBottom" colspan="11" height="28">&nbsp;
		</td>
	</tr>
</table>
</form>
<table width="100%">
	<tr>
		<td align="right"><#if thisPage?exists><@pagination.doPagination "list", -1/></#if></td>
	</tr>
</table>

