<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>JForum - Administration interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="*" cols="170,*" framespacing="0" frameborder="NO" border="0">
  <frame src="${contextPath}/jforum.page?module=admBase&action=menu" name="leftFrame" scrolling="NO" noresize>
  <frame src="${contextPath}/jforum.page?module=admBase&action=main" name="main">
</frameset>
<noframes><body>

</body></noframes>
</html>
