<STYLE type=text/css>@import url( style.css );</STYLE>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post">
<input type="hidden" name="action" value="delete">
<input type="hidden" name="module" value="${moduleName}">
<input type="hidden" name="securityHash" value="${securityHash}">

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0><TBODY>
<TR>
<TH class=thHead vAlign=center colSpan=3 height=25>${I18n.getMessage("Forums.List.Title")}</TH>
</TR>



<#list forums as forum>
	<TR>
	<TD class=row1 width="38%"><SPAN class=gen>${forum.name}</SPAN></TD>
	<TD class=row2><span class="gen"><a href="${contextPath}/${moduleName}/edit/${forum.id}${extension}">${I18n.getMessage("Forums.List.Edit")}</a></span></TD>
	<TD class=row2><input type="checkbox" name="forum_id" value="${forum.id}"></TD>
	</TR>
</#list>

<TR align="center">
<TD class=catBottom colSpan=3 height=28>
<INPUT class=mainoption type=button value="${I18n.getMessage("Forums.List.ClickToNew")}" id="btn_insert" name=button onClick="document.location = '${contextPath}/${moduleName}/insert${extension}';">
&nbsp;&nbsp;
<INPUT class=mainoption type=submit value="${I18n.getMessage("Forums.List.ClickToDelete")}" name=submit></TD>
</TR></TABLE>
</FORM>
   