<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<STYLE type=text/css>@import url( templates/admin/style.css );</STYLE>

</HEAD>
<BODY text=#000000 vLink=#5493b4 link=#006699 bgColor=#e5e5e5>
<TABLE cellSpacing=0 cellPadding=4 width="100%" align=center border=0>
  <TBODY>
  <TR>
    <TD align=middle>
      <TABLE class=forumline cellSpacing=1 cellPadding=4 width="100%" 
        border=0><TBODY>
        <TR>
          <TH class=thHead height=25><B>Administration</B></TH></TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed 
            href="" 
            target=main>Admin Index</A></SPAN></TD></TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed target='main' href='${contextPath}/forums/list.page'>Forum Index</A></SPAN></TD></TR>
        <TR>
          <TD class=catSides height=28><SPAN class=cattitle>Forum 
          Admin</SPAN></TD></TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminGroups/list.page" 
            target=main>Groups</A></SPAN> </TD>
        </TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminUsers/list.page" 
            target=main>Users</A></SPAN></TD>
        </TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminCategories/list.page" 
            target=main>Categories</A></SPAN></TD>
        </TR>
        <TR>
          <TD class=row1><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminForums/list.page" 
            target=main>Forums</A></SPAN></TD>
        </TR>
        <TR>
          <TD class=row1>
            <p><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminRankings/list.page" 
            target=main>Rankings</A></SPAN></p>
          </TD>
        </TR>
        
        <TR>
          <TD class=row1>
            <p><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminConfig/list.page" 
            target=main>Configurations</A></SPAN></p>
          </TD>
        </TR>
		
   <TR>
          <TD class=row1>
            <p><SPAN class=genmed><A class=genmed 
            href="${contextPath}/adminSmilies/list.page" 
            target=main>Smilies</A></SPAN></p>
          </TD>
        </TR>
</TBODY></TABLE></TD></TR></TBODY></TABLE>
<DIV align=center><SPAN class=copyright>Powered by JForum<BR>
</SPAN></DIV></BODY></HTML>
