<STYLE type=text/css>@import url( style.css );</STYLE>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post">
<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
<TR>
<TH class=thHead vAlign=center colSpan=2 height=25>Controle de Permiss&atilde;o - Usu&aacute;rios</TH>
</TR>
        
<TR>
<TD class=gen width="38%">Moderador nos seguintes f&oacute;rums:</TD>
<TD width="62%" class=row2><select name="select" size="4" multiple><option selected>Nenhum<option>Todos</select></TD></TR>

<TR>
<TD class=gen>Permiss&atilde;o para remover mensagens nos seguintes f&oacute;rums:</TD>
<TD class="row2"><select name="select" size="4" multiple><option selected>Nenhum<option>Todos onde for moderador</select>
</TD>
</TR>

<TR>
<TD class=gen>Permiss&atilde;o para editar mensagens nos seguintes f&oacute;rums:</TD>
<TD class=row2><select name="select" size="4" multiple><option selected>Nenhum<option>Todos onde for moderador</select></TD></TR>

<TR>
<TD class=gen>Permiss&atilde;o para visualizar os seguintes f&oacute;rums:</TD>
<TD class=row2><select name="select" size="4" multiple><option selected>Nenhum<option>Todos onde for moderador</select></TD>
</TR>

<TR align="center">
<TD class=catBottom colSpan=2 height=28>&nbsp;</TD></TR>

</TABLE>
</FORM>
