<STYLE type=text/css>@import url( style.css );</STYLE>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum.page" method="post">
<input type="hidden" name="action" value="${action}">
<input type="hidden" name="module" value="${moduleName}">
<input type="hidden" name="securityHash" value="${securityHash}">

<#if rank?exists>
	<input type="hidden" name="rank_id" value="${rank.id}">
</#if>

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0><TBODY>
<TR>
<TH class=thHead vAlign=center colSpan=2 height=25>${I18n.getMessage("Rank.Form.Title")}</TH></TR>

<TR><TD class=gen>${I18n.getMessage("Rank.Form.RankName")}</TD><TD class=row2><input name="rank_title" type="text" id="rank_title" value="<#if rank?exists>${rank.title}</#if>"></TD></TR><TR>
<TD class=row1 width="38%"><SPAN class=gen>${I18n.getMessage("Rank.Form.MinValue")}</SPAN></TD>
<TD class=row2><input name="rank_min" type="text" id="rank_min" value="<#if rank?exists>${rank.min}</#if>" size="6" maxlength="5"></TD></TR>
<TR align="center">
<TD class=catBottom colSpan=2 height=28>
<INPUT class=mainoption type=submit value="${I18n.getMessage("Rank.Form.ClickToUpdate")}" name=submit>
</TD>
</TR></TBODY></TABLE>
</FORM>