.menu_link {
	font-size: 11px; font-family: arial, verdana; font-weight: bold; color: #000000; text-decoration: none;
}

.menu_link:hover {
	text-decoration: underline;
}

.menu_image {
	vertical-align:bottom; text-align:center; width:100;
}

a {
	color: #006699; text-decoration: none
}

a:hover {
	color: #ff9900; text-decoration: underline;
}

p {
	font-family: verdana; font-size: 12px;
}

img {
	border: 0;
}

.install_subtitle {
	font-size: 16px; line-height: normal; text-decoration: underline; font-weight: bold;
}

td {
	font-size: 12px; font-family: verdana;
}

th {
	font-size: 12px; font-family: verdana; font-weight: bold; background-color: #006699; color: #ffffff;
}

.fields {
	 font-family: verdana; background-color: #ffffff; 
}

.fields td {
	font-size: 11px;
}

p.note
{
	color: red;
	font-weight: bold;
}