<#setting number_format = "#"/>
<#import "macros/group_macros.ftl" as lib>
<STYLE type=text/css>@import url( ${contextPath}/templates/${templateName}/admin/style.css );</STYLE>

<form action="${contextPath}/jforum${extension}" method="post" name="form" id="form" accept-charset="${encoding}" onSubmit="return checkGroups()">
<input type="hidden" name="action" value="${action}" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="securityHash" value="${securityHash}" />

<script language="javascript">
function checkGroups() 
{
	if (document.form.groups.selectedIndex == -1) {
		alert("${I18n.getMessage("PermissionControl.atLeastOne")}");
		return false;
	}

	return true;
}
</script>

<#if forum?exists>
<input type="hidden" name="forum_id" value="${forum.id}" />
</#if>

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
	<tr>
		<th class="thHead" valign="center" colspan="2" height="25">${I18n.getMessage("Forums.Form.Title")}</th>
	</tr>
        
	<tr>
		<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Forums.Form.ForumName")}</span></td>
		<td class="row2"><input class="post" style="WIDTH: 200px" maxlength="150" size="25" name="forum_name" value="<#if forum?exists>${forum.name}</#if>" /></td>
	</tr>

	<tr>
		<td class="row1"><span class="gen">${I18n.getMessage("Forums.Form.Category")}</span></td>
		<td class="row2">
			<select name="categories_id">
			<#list categories as c><option value="${c.id}" <#if forum?exists><#if forum.categoryId == c.id>selected</#if></#if>>${c.name}</option></#list>
			</select>
		</td>
	</tr>
	
	<#if !forum?exists>
	<tr>
		<td class="row1"><span class="gen">${I18n.getMessage("Forums.Form.ChooseGroup")}</span></td>
		<td><@lib.selectFieldGroups "groups", groups, 0, true, selectedList/></td>
	</tr>
	</#if>

	<tr>
		<td class="row1"><span class="gen">${I18n.getMessage("Forums.Form.Description")}</span></td>
		<td class="row2"><textarea name="description" cols="40" rows="6" class="post" style="WIDTH: 200px"><#if forum?exists>${forum.description?default("")}</#if></textarea></td>
	</tr>

	<tr align="center">
		<td class="catBottom" colspan="2" height="28"><input class="mainoption" type="submit" value="${I18n.getMessage("Forums.Form.ClickToUpdate")}" name="submit" /></td>
	</tr>

</table>
</form>
