<#setting number_format = "#"/>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/admin/style.css );</style>

<form action="${contextPath}/jforum${extension}" method="post" name="form" id="form" accept-charset="${encoding}">
<input type="hidden" name="action" value="delete" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="securityHash" value="${securityHash}" />

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
	<tr>
		<th class="thHead" valign="center" colspan="3" height="25">${I18n.getMessage("Forums.List.Title")}</th>
	</tr>
	
	<#list forums as forum>
		<tr>
			<td class="row1" width="38%"><span class="gen">${forum.name}</span></td>
			<td class="row2"><span class="gen"><a id="forumEdit" href="${contextPath}/${moduleName}/edit/${forum.id}${extension}">${I18n.getMessage("Forums.List.Edit")}</a></span></td>
			<td class="row2"><input type="checkbox" name="forum_id" value="${forum.id}" /></td>
		</tr>
	</#list>

	<tr align="center">
		<td class="catBottom" colspan="3" height="28">
			<input class="mainoption" type="button" value="${I18n.getMessage("Forums.List.ClickToNew")}" id="btn_insert" name="button" onclick="document.location = '${contextPath}/${moduleName}/insert${extension}';" />
			&nbsp;&nbsp;
			<input class="mainoption" type="submit" value="${I18n.getMessage("Forums.List.ClickToDelete")}" name="submit" />
		</td>
	</tr>
</table>
</form>
