<#setting number_format = "#"/>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css?${startupTime} );</style>

<#import "macros/group_macros.ftl" as lib>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post">
<input type="hidden" name="action" value="delete">
<input type="hidden" name="module" value="${moduleName}">

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
<TR>
<TH class="thhead" vAlign=center colSpan=4 height=25>${I18n.getMessage("Groups.List.Title")}</TH>
</TR>
<#if errorMessage?exists>
<TR>
<TD class=row2 colSpan=4>&nbsp;
<SPAN class=nav>
	<center><font color="#ff0000"><b>${errorMessage}</b></font></center>
</SPAN></TD>
</TR>
</#if>

<tr>
<td class='row2' width="38%"><span class='gen'><b>${I18n.getMessage("Groups.List.groupName")}</b></span></td>
<td class='row2' align="center"><span class='gen'><b>${I18n.getMessage("Action")}</b></span></td>
<td class='row2' align="center" width="10%"><span class='gen'><b>${I18n.getMessage("Delete")}</b></span></td>
<td class='row2' align="center"><span class='gen'><b>${I18n.getMessage("Security")}</b></span></td>
</tr>

<#assign len = groups.size() - 1>
<#if (len > -1)>
<#list 0..len as i>
	<#assign node = groups.get(i)>
	<#global level = 0>
	
	<tr>
	<td class="row1"><span class=gen>${node.name}</span></td>
	<td class="row1" align="center"><span class="gen"><a href="${contextPath}/${moduleName}/edit/${node.id}${extension}">${I18n.getMessage("Groups.List.Edit")}</a></span></td>
	<td class="row1" align="center"><input type="checkbox" name="group_id" value="${node.id}"></td>
	<td class="row1" align="center"><span class="gen"><a href="${contextPath}/${moduleName}/permissions/${node.id}${extension}">${I18n.getMessage("Permissions")}</a></span></td>
	</tr>
	
	<@lib.listGroups node/>
</#list>
</#if>

<TR align="center">
<TD class="catbottom" colSpan=4 height=28>
<INPUT class=mainoption type=button value="${I18n.getMessage("Groups.List.ClickToNew")}" name=button onClick="document.location = '${contextPath}/${moduleName}/insert${extension}';">
&nbsp;&nbsp;
<INPUT class=mainoption type=submit value="${I18n.getMessage("Groups.List.ClickToDelete")}"></TD>
</TR></TBODY></TABLE>
</form>
     
