<#setting number_format = "#"/>
<STYLE type=text/css>@import url( ${contextPath}/templates/${templateName}/admin/style.css );</STYLE>
<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post">
<input type="hidden" name="action" value="${action}">
<input type="hidden" name="module" value="${moduleName}">
<input type="hidden" name="securityHash" value="${securityHash}">

<#if group?exists>
  <input type="hidden" name="group_id" value="${group.id}">
</#if>

<#import "macros/group_macros.ftl" as lib>

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
<TR>
<TH class=thHead vAlign=center colSpan=2 height=25>${I18n.getMessage("Groups.Form.Title")}</TH></TR>
        
<TR>
<TD class=row1 width="38%"><SPAN class=gen>${I18n.getMessage("Groups.Form.GroupName")}</SPAN></TD>
<TD class=row2><input type="text" name="group_name" value="<#if group?exists>${group.name}</#if>"></TD></TR>
<TR>
<TD class=row1><span class="gen">${I18n.getMessage("Groups.Form.ParentGroup")}</span></TD>
<TD class=row2> 
<#if group?exists>
	<@lib.selectFieldGroups "parent_id", groups, group.parentId, false, selectedList/>
<#else>
	<@lib.selectFieldGroups "parent_id", groups, 0, false, selectedList/>
</#if>
</TD>
</TR>
<TR>
<TD class=row1><SPAN class=gen>${I18n.getMessage("Groups.Form.Description")}</SPAN></TD>
<TD class=row2><textarea rows="4" cols="30" wrap="virtual" name="group_description"><#if group?exists>${group.description?default("")}</#if></textarea></TD></TR>
<TR align="center">
<TD class="catbottom" colSpan=2 height=28><INPUT class=mainoption type=submit value="${I18n.getMessage("Groups.Form.ClickToUpdate")}" name=submit></TD>
</TR></TABLE>
</FORM>
  
