<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
@import url( templates/${templateName}/admin/style.css );
</style>

</head>
<body text="#000000" vlink="#5493b4" link="#006699" bgcolor="#e5e5e5">
<table cellspacing="0" cellpadding="4" width="100%" align="center" border="0">
	<tr>
		<td align="middle">
			<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
				<tr>
					<th class="thHead" height="25"><b>Administration</b></th>
				</tr>

				<tr>
					<td class="row1"><a id="forumIndex" class="genmed" target='_top' href='${contextPath}/forums/list${extension}'>Forum Index</a></td>
				</tr>
				<tr>
					<td class="catSides" height="28"><span class="cattitle">Forum Admin</span></td>
				</tr>
				<tr>
					<td class="row1"><a id="groups" class="genmed" href="${contextPath}/adminGroups/list${extension}" target="main">Groups</a> </td>
				</tr>
				<tr>
					<td class="row1"><a id="users" class="genmed" href="${contextPath}/adminUsers/list${extension}" target="main">Users</a></td>
				</tr>
				<tr>
					<td class="row1"><a id="categories" class="genmed" href="${contextPath}/adminCategories/list${extension}" target="main">Categories</a></td>
				</tr>
				<tr>
					<td class="row1"><a id="forums" class="genmed" href="${contextPath}/adminForums/list${extension}" target="main">Forums</a></td>
				</tr>
				<tr>
					<td class="row1">
						<p><a id="rankings" class="genmed" href="${contextPath}/adminRankings/list${extension}" target="main">Rankings</a></p>
					</td>
				</tr>
			
				<tr>
					<td class="row1"><p><a id="configurations" class="genmed" href="${contextPath}/adminConfig/list${extension}" target="main">Configurations</a></p></td>
				</tr>
			
				<tr>
					<td class="row1"><p><a id="smilies" class="genmed" href="${contextPath}/adminSmilies/list${extension}" target="main">Smilies</a></p></td>
				</tr>

				<tr>
					<td class="row1">
						<p></p>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr><td colspan="2"><span class="genmed"><a id="smilies" class="genmed" href="#">Attachments</a></span></td></tr>
							<tr>
								<td width="20px">&nbsp;</td>
								<td>
									<a id="attachments" class="gensmall" href="${contextPath}/adminAttachments/configurations${extension}" target="main">Configurations</a>
								</td>
							</tr>

							<tr>
								<td width="20px">&nbsp;</td>
								<td>
									<a id="attachments" class="gensmall" href="${contextPath}/adminAttachments/quota${extension}" target="main">Quota limits</a>
								</td>
							</tr>

							<tr>
								<td width="20px">&nbsp;</td>
								<td>
									<a id="attachments" class="gensmall" href="${contextPath}/adminAttachments/extensionGroups${extension}" target="main">Extension groups</a>
								</td>
							</tr>

							<tr>
								<td width="20px">&nbsp;</td>
								<td>
									<a id="attachments" class="gensmall" href="${contextPath}/adminAttachments/extensions${extension}" target="main">Extensions</a>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div align="center"><span class="copyright">Powered by JForum<br />
</span></div></body></html>
