<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css );</style>

<script type="text/javascript">
function writeOptions(fieldName, from, to) 
{
	document.write("<select name='" + fieldName + "'>");
	document.write("<option value=''>--</option>");

	for (var i = from; i <= to; i++) {
		document.write("<option value='" + i + "'>" + i + "</option>");
	}

	document.write("</select>&nbsp;&nbsp;");
}

function writeTimeGroup(fieldNamePrefix)
{
	document.write("<input type='text' style='width: 35px;' maxlength='2' name='" + fieldNamePrefix + "Hour'> : ");
	document.write("<input type='text' style='width: 35px;' maxlength='2' name='" + fieldNamePrefix + "Minute'>");
}
</script>

<table class="forumline gen" cellspacing="1" cellpadding="3" width="100%">
	<tr>
		<th class="thhead" colspan="5">${I18n.getMessage("SearchStats.ReIndex")}</th>
	</tr>

	<tr>
		<td>
			<strong>Total messages in the database:</strong> <i>${totalMessages}</i>
		</td>
	</tr>

	<tr>
		<td>
			<strong>Index location:</strong> <i>${indexLocation}</i>
		</td>
	</tr>

	<tr>
		<td>
			<strong>Index exists:</strong>
			<#if !indexExists>
				<i>No</i>. <a href="${contextPath}/jforum${extension}?module=${moduleName}&action=createIndexDirectory">Create index now.</a>
			<#else>
				<i>Yes</i>. 

			<table border="0" class="forumline gen">
				<tr>
					<th colspan="2">Re-Index</th>
				</tr>

				<tr>
					<td>
						<input type="radio" id="reindexByDate"><label for="reindexByDate">By date</label>
					</td>
					<td valign="top">
						<table border="0" class="forumline gen">
							<tr>
								<td>From: </td>
								<td>
									<span class="gensmall">(dd/mm/yyyy hh:mm)</span>

									<script type="text/javascript">
										writeOptions("fromDay", 1, 31);
										writeOptions("fromMonth", 1, 12);
										writeOptions("fromYear", 1995, new Date().getFullYear());
										writeTimeGroup("from");
									</script>
								</td>
							</tr>

							<tr>
								<td>To:</td>
								<td>
									<span class="gensmall">(dd/mm/yyyy hh:mm)</span>

									<script type="text/javascript">
										writeOptions("toDay", 1, 31);
										writeOptions("toMonth", 1, 12);
										writeOptions("toYear", 1995, new Date().getFullYear());
										writeTimeGroup("to");
									</script>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<input type="radio" id="reindexByMessage"><label for="reindexByMessage">By Message ID</label>
					</td>
					<td valign="top">
						<table border="0" class="forumline gen">
							<tr>
								<td>From:</td>
								<td><input type="text">
							</tr>

							<tr>
								<td>To:</td>
								<td><input type="text">
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td width="200">
						<input type="checkbox" id="avoidDuplicates"><label for="avoidDuplicates">Check if message exists before adding to index</label>
					</td>
					<td class="gensmall">
						This avoid duplicated records, but the indexing process will take longer to complete
					</td>
				</tr>

				<tr>
					<td colspan="2" align="right" class="cat">
						<input type="submit" value="Start" style="width: 100px; font-weight: bold;">
					</td>
				</tr>
			</table>
			</#if>
		</td>
	</tr>
</table>