<STYLE type=text/css>@import url( ${contextPath}/templates/${templateName}/admin/style.css );</STYLE>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="${action}">
<input type="hidden" name="module" value="${moduleName}">
<input type="hidden" name="securityHash" value="${securityHash}">

<#if smilie?exists>
<input type="hidden" name="id" value="${smilie.id}">
</#if>

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
<TR>
<TH class=thHead vAlign=center colSpan=2 height=25>${I18n.getMessage("Smilies.Form.Title")}</TH>
</TR>
        
<TR>
<TD class=row1 width="38%"><SPAN class=gen>${I18n.getMessage("Smilies.Form.Code")}</SPAN></TD>
<TD class=row2><INPUT class=post style="WIDTH: 200px" maxLength=25 size=25 name="code" value="<#if smilie?exists>${smilie.code}</#if>"></TD>
</TR>

<TR>
<TD class=row1><SPAN class=gen>${I18n.getMessage("Smilies.Form.Url")}</SPAN></TD>
<TD class=row2>
<INPUT type="file" class=post style="WIDTH: 200px" maxLength=25 size=25 name="smilie_img">
</TD>

</TR>

<TR align="center">
<TD class="catbottom" colSpan=2 height=28><INPUT class=mainoption type=submit value="${I18n.getMessage("Smilies.Form.ClickToUpdate")}" name=submit></TD>
</TR>

</TABLE>
</FORM>
   
