<#setting number_format = "#"/>
<STYLE type=text/css>@import url( ${contextPath}/templates/${templateName}/admin/style.css );</STYLE>

<form accept-charset="${encoding}" name="form" action="${contextPath}/jforum${extension}" method="post">
<input type="hidden" name="action" value="delete">
<input type="hidden" name="module" value="${moduleName}">
<input type="hidden" name="securityHash" value="${securityHash}">

<TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
<TR>
<TH class=thHead vAlign=center colSpan=4 height=25>${I18n.getMessage("Smilies.List.Title")}</TH>
</TR>

<#list smilies as smilie>
	<TR>
	<TD class=row1 width="38%">${smilie.url.replaceAll("\\\\", "")}</td>
	<td class="row2">
		<span class="gen">${smilie.code}</span>
	</td>
	<TD class=row2>
		<span class="gen"><a href="${contextPath}/jforum${extension}?module=${moduleName}&action=edit&id=${smilie.id}">${I18n.getMessage("Smilies.List.Edit")}</a></span>
	</TD>
	<TD class=row2><input type="checkbox" name="id" value="${smilie.id}"></TD>
	</TR>
</#list>

<TR align="center">
<TD class=catBottom colSpan=4 height=28>
<INPUT class=mainoption type=button value="${I18n.getMessage("Smilies.List.ClickToNew")}" name=button onClick="document.location = '${contextPath}/${moduleName}/insert${extension}';">
&nbsp;&nbsp;
<INPUT class=mainoption type=submit value="${I18n.getMessage("Smilies.List.ClickToDelete")}" name=submit></TD>
</TR></TABLE>
</FORM>
   