body {
	font-family: arial, verdana, sans-serif;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: #006699;
}

a:hover {
	text-decoration: underline;
	color: #ff9900;
}

#bar {
	background-color: #006699;
	height: 150px;
}

#logo {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 110px;
	padding: 15px 0px;
}

#info {
	float: right;
	width: 100px;
	margin: 0px;
}	

.LogoGif {
	float: left;
}

#mainMenu {
	width: 100%;
	margin-top: 1px
}

#mainMenu a {
	color: #000;
}

#mainMenu a:hover {
	text-decoration: none;
	color: #fff;
}

.menu {
	width: 15%;
	float: right;
	text-align: center; 
	background-color: #ff9900;
	font-size: 12px;
	font-weight: bold;
}

.menu:hover {
	background-color: #006699;
	color: #fff;
}

img {
	border: 0px;
}