<!-- JForum -->
<script type="text/javascript" src="$xwiki.getSkinFile("swfobject.js")"></script>

<table border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5" align="center">
		<div id="flash_contents"></div>
		<script type="text/javascript">
		var flash = new SWFObject("$xwiki.getSkinFile("header.swf")", "jforum_header", "766", "206", "8");
		flash.write("flash_contents");
		</script>
	</td>
	</tr>
	<tr>
		<td width="11" rowspan="3">&nbsp;</td>
		<td colspan="3">&nbsp;</td>
		<td width="11" rowspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" width="214"><table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><table width="214" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="3"><img src="$xwiki.getSkinFile("dl_version.gif")" width="214" height="48"></td>
						</tr>
					<tr>
						<td colspan="3" background="$xwiki.getSkinFile("dl_bg.gif")" valign="top" width="214">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top"><div style="padding:10px;"><img src="$xwiki.getSkinFile("product_box.gif")"></div></td>
									<td valign="top">
										<div style="padding:10px;" class="white">
											Many improvements were made, and bugs were fixed.
										</div>
										<div style="padding-top:5px;" class="white"><strong><a href="#" class="white">Details</a> | <a href="#" class="white">Download</a></strong></div>
										<div style="padding-top:5px; padding-bottom: 5px;"><a href="../download.htm"><img src="$xwiki.getSkinFile("dl_now.gif")" border="0"></a></div>
									</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td width="10"><img src="$xwiki.getSkinFile("dl_lower_left_corner.gif")" width="10" height="11"></td>
						<td><img src="$xwiki.getSkinFile("dl_lower_line.gif")" width="194" height="11"></td>
						<td width="10"><img src="$xwiki.getSkinFile("dl_lower_right_corner.gif")" width="10" height="11"></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td><table width="214" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="10"><img src="$xwiki.getSkinFile("pl_top_left_corner.gif")" width="10" height="10"></td>
						<td><img src="$xwiki.getSkinFile("pl_top_line.gif")" width="194" height="10"></td>
						<td width="10"><img src="$xwiki.getSkinFile("pl_top_right_corner.gif")" width="10" height="10"></td>
					</tr>
					<tr>
						<td background="$xwiki.getSkinFile("pl_left_line.gif")">&nbsp;</td>
						<td bgcolor="#3F3F3F">
							<div style="padding:5px 0px;"><img src="$xwiki.getSkinFile("bt_pl.gif")"></div>
							<div style="padding-top:5px; padding-left:10px;" class="white">
								<ul class="ul">
									<li class="li"><a href="#" class="white">How do I install JForum?</a>
									<li class="li"><a href="#" class="white">How to contribute</a>
									<li class="li"><a href="#" class="white">Getting help</a>
									<li class="li"><a href="#" class="white">Support the project</a>
								</ul>
							</div>
						</td>
						<td background="$xwiki.getSkinFile("pl_right_line.gif")">&nbsp;</td>
					</tr>
					<tr>
						<td><img src="$xwiki.getSkinFile("pl_lower_left_corner.gif")" width="10" height="9"></td>
						<td><img src="$xwiki.getSkinFile("pl_lower_line.gif")" width="194" height="9"></td>
						<td><img src="$xwiki.getSkinFile("pl_lower_right_corner.gif")" width="10" height="9"></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td><table width="214" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table></td>
			</tr>
		</table>
		
		<div class="menu" style="padding-left:10px; ">
			© <b>JForum Team</b><br>
			Latest version is 2.1.7 <br>
			Meet the team <br>
		</div>
		
		
		</td>
		<td width="4" valign="top">&nbsp;</td>
		<td valign="top" width="80%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="15"><img src="$xwiki.getSkinFile("cb_left_top_corner.gif")" width="15" height="15"></td>
				<td height="15" background="$xwiki.getSkinFile("cb_top_line.gif")"></td>
				<td width="15"><img src="$xwiki.getSkinFile("cb_right_top_corner.gif")" width="15" height="15"></td>
			</tr>
			<tr>
				<td background="$xwiki.getSkinFile("cb_left_line.gif")">&nbsp;</td>
				<td bgcolor="#FFFFFF" width="100%"><!-- TemplateBeginEditable name="MainContent" -->

<!-- FIM JForum -->
