/* content.css */
body {color: #333; margin: 5 10px 2em; background: #fff url(img/k1_.gif) repeat-x; font-family: verdana, sans-serif; text-align: center; }
TD {font-size: 75%;}
a:link,a:visited,a:active {color: #006699; text-decoration: none}
a:hover {color: #ff9900; text-decoration: underline;}
FORM LABEL {FONT-SIZE: 110%}
FORM INPUT {FONT-SIZE: 110%}
FORM #submit {FONT-SIZE: 110%}
FORM {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right}
FORM LABEL {FONT-WEIGHT: bold; COLOR: #fff}
FORM #submit {BORDER-RIGHT: #283043 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #9097a2 1px solid; PADDING-LEFT: 4px; BACKGROUND: #105d90; PADDING-BOTTOM: 1px; BORDER-LEFT: #9097a2 1px solid; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #283043 1px solid}
FORM #keys {BORDER-RIGHT: #9097a2 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9097a2 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(img/k6.png) #eaebeb repeat-x 50% bottom; PADDING-BOTTOM: 2px; BORDER-LEFT: #9097a2 1px solid; WIDTH: 170px; PADDING-TOP: 2px; BORDER-BOTTOM: #9097a2 1px solid}
#top UL {PADDING-RIGHT: 15px;PADDING-LEFT: 0px;Z-INDEX: 90;RIGHT: 0px;PADDING-BOTTOM: 0px;MARGIN: 0px;WIDTH: auto;BOTTOM: 0px;PADDING-TOP: 0px;LIST-STYLE-TYPE: none;COLOR: #fff}
#top LI {PADDING-RIGHT: 6px; PADDING-LEFT: 0px; BACKGROUND: url(img/ul.gif) no-repeat 100% 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #515358 1px solid}
#top UL A {PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(img/ul.gif) no-repeat 0% 0px; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #fff; PADDING-TOP: 4px; TEXT-DECORATION: none}
#top UL A:hover {COLOR: #006699;}
#hfx {BACKGROUND: url(img/title_bar_gradient.gif);}
#side {BACKGROUND: #fff; COLOR: #000; LINE-HEIGHT: 1.3}
#nav {BACKGROUND: url(img/k5.gif) #e0e9e9 repeat-y right 50%}
#tlt {FONT-SIZE: 1px; BACKGROUND: url(img/tlt.gif) no-repeat right bottom; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px;}
#tlb {BORDER-TOP: #fff 1px solid; FONT-SIZE: 1px; BACKGROUND: url(img/tlb.gif) no-repeat right top; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px;}
#tl {BACKGROUND: url(img/k5.gif) #e0e9e9 repeat-y right 50%;}
#trt {FONT-SIZE: 1px; BACKGROUND: url(img/trt.gif) no-repeat right bottom; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px;}
#trb {FONT-SIZE: 1px; BACKGROUND: url(img/trb.gif) no-repeat right top; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px;}
#tr {BACKGROUND: url(img/k5.gif) #cdf2ae repeat-y right 50%;PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px;}
#nav {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none}
#nav SPAN {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none}
#nav LI {PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
#nav LI SPAN {PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: #666; PADDING-TOP: 6px}
#nav LI SPAN#configParent {PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px}
#nav LI SPAN #configuration {PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px}
#nav LI A {BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #edf2f2; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none}
#nav LI A:hover {BACKGROUND: #e0e9e9}
#nav LI LI SPAN {PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px}
#nav LI LI A {PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px}
.cnt {PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px}
P {MARGIN: 10px;}
h1 {font-size: 120%;font-weight: bold;MARGIN: 0px;padding: 0px;}
h2 {font-size: 120%;font-weight: bold;color: #669100;}
h5 {color: #999999;text-align: center;font-weight: normal;}
HR {MARGIN: 0px;COLOR: #CCCCCC;HEIGHT: 1px;BACKGROUND-COLOR: #000;COLOR: #CCCCCC;padding: 0px;position: relative;top: -5px;}

#nav LI {PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
#nav LI A {BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #E3E5E9; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none}
#nav LI A:hover {BACKGROUND: #EDEEF1}
#nav LI LI SPAN {PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px}
#nav LI LI A {PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px}

img.image-border {border: solid 1px #999}